fast_track_empresas/BBVA_CTACTE_ClienteWS/src/META-INF/wsdl/xsd/ACCPJ_PagoServicio_v01.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema elementFormDefault="qualified" targetNamespace="http://grupobbva.com.pe/accpj/pagser/" xmlns:tns="http://grupobbva.com.pe/accpj/pagser/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="PagoServicioRq" type="tns:ctPagoServicioRq">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/PagoServicioRq;XSDElementDeclaration$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
	<xsd:element name="PagoServicioRs" type="tns:ctPagoServicioRs">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/PagoServicioRs;XSDElementDeclaration=1$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
	
	
	<!-- ======================== -->
	<!-- ComplexTypes Definitions -->
	<!-- ======================== -->
	
	<xsd:complexType name="ctHeader">
	  <xsd:sequence>
	  	<xsd:element name="usuario" type="tns:stUsuario"/>
	  </xsd:sequence>
	</xsd:complexType>
	
	<!-- ***** Request ***** -->
	
	<xsd:complexType name="ctBodyRq">
	  <xsd:sequence>
	  	<xsd:element name="numCuenta" type="tns:stNumCuenta"/>
	  	<xsd:element name="descCargo" type="tns:stDescCargo"/>
	  	<xsd:element name="codCentralCliente" type="tns:stCodCentral"/>
	  	<xsd:element name="registroUsuario" type="tns:stRegUsu"/>
	  	<xsd:element name="oficinaUsuario" type="tns:stOfiUsu"/>
	  	<xsd:element name="centroContable" type="tns:stCenCon"/>
	  	<xsd:element name="referencia" type="tns:stRef"/>
	  </xsd:sequence>
	</xsd:complexType>
	
	<!-- ***** Response ***** -->
	
	<xsd:complexType name="ctHeaderRs">
	  <xsd:sequence>
	  	<xsd:element name="codigo" type="xsd:string"/>
	  	<xsd:element name="descripcion" type="xsd:string"/>
	  </xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ctBodyRs">
	  <xsd:sequence>
	  	<xsd:any/>
	  </xsd:sequence>   
	</xsd:complexType>
	
	<!-- ***** Messages ***** -->
	
	<xsd:complexType name="ctPagoServicioRq">
	  <xsd:sequence>
	  	<xsd:element name="Header" type="tns:ctHeader"/>
	  	<xsd:element name="Data" type="tns:ctBodyRq"/>
	  </xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ctPagoServicioRs">
	  <xsd:sequence>
	  	<xsd:element name="Header" type="tns:ctHeaderRs"/>
	  	<!-- <xsd:element name="Data" type="tns:ctBodyRs" minOccurs="0" />  -->
	  </xsd:sequence>
	</xsd:complexType>
	
	<!-- ======================== -->
	<!-- SimpleTypes Definitions  -->
	<!-- ======================== -->
	
	<xsd:simpleType name="stUsuario">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="stNumCuenta">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="stDescCargo">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="stCodCentral">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="stRegUsu">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="stOfiUsu">
		<xsd:restriction base="xsd:string">
			<xsd:length value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="stCenCon">
		<xsd:restriction base="xsd:string">
			<xsd:length value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="stRef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	
</xsd:schema>