Unificado/fuentes/ClientFactory/ejbModule/META-INF/wsdl/xsd/ConsultaPorDNIFormat.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://pe.grupobbva.com/SIR/ents/body/consultaPorDNI" xmlns:tns="http://pe.grupobbva.com/SIR/ents/body/consultaPorDNI">
	
    <xsd:element name="consultaPorDNIRequest" type="tns:ConsultaPorDNIRequest"/>
	<xsd:element name="consultaPorDNIResponse" type="tns:ConsultaPorDNIResponse"/>	
	<xsd:complexType name="ConsultaPorDNIRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="centroCostos" type="xsd:string"/>
			<xsd:element minOccurs="0" name="hostSolicitante" type="xsd:string"/>					
			<xsd:element minOccurs="0" name="tipoAplicacion" type="xsd:string"/>
			<xsd:element minOccurs="0" name="numeroDNISolicitante" type="xsd:string"/>
			<xsd:element minOccurs="0" name="registroCodUsuario" type="xsd:string"/>					
			<xsd:element minOccurs="0" name="numeroDNIConsultado" type="xsd:string"/>					
			<xsd:element minOccurs="0" name="indConsultaDatos" type="xsd:string"/>					
			<xsd:element minOccurs="0" name="indConsultaFoto" type="xsd:string"/>
			<xsd:element minOccurs="0" name="indConsultaFirma" type="xsd:string"/>
			<xsd:element minOccurs="0" name="formatoFirma" type="xsd:string"/>					
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ConsultaPorDNIResponse">
		<xsd:sequence>			   		
			<xsd:element maxOccurs="1" minOccurs="0" name="respuestaDatos" type="tns:RespuestaDatos"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="respuestaDNI" type="tns:RespuestaDNI"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="respuestaImagenes" type="tns:RespuestaImagenes"/>			
    	</xsd:sequence>
	</xsd:complexType>	

	<xsd:complexType name="RespuestaDatos">
		<xsd:sequence>			   		
			<xsd:element maxOccurs="1" minOccurs="0" name="datosPersona" type="tns:DatosPersona"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="datosDomicilio" type="tns:DatosDomicilio"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="datosNacimiento" type="tns:DatosNacimiento"/>			
			<xsd:element maxOccurs="1" minOccurs="0" name="datosDNI" type="tns:DatosDNI"/>			
    	</xsd:sequence>
	</xsd:complexType>	

	<xsd:complexType name="DatosPersona">
		<xsd:sequence>			
			<xsd:element minOccurs="0" name="numeroDNIConsultado" type="xsd:string"/>
			<xsd:element minOccurs="0" name="digitoVerificacion" type="xsd:string"/>		
			<xsd:element minOccurs="0" name="apellidoPaterno" type="xsd:string"/>
			<xsd:element minOccurs="0" name="apellidoMaterno" type="xsd:string"/>
			<xsd:element minOccurs="0" name="apellidoCasada" type="xsd:string"/>
			<xsd:element minOccurs="0" name="nombres" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codigoEstadoCivil" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descripcionEstadoCivil" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codGradoInstruccion" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descripcionGradoInstruccion" type="xsd:string"/>
			<xsd:element minOccurs="0" name="estatura" type="xsd:string"/>
			<xsd:element minOccurs="0" name="sexo" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descripcionSexo" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codTipoDocSustentario" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descripcionTipoDocSustentario" type="xsd:string"/>
			<xsd:element minOccurs="0" name="numeroDocSustentario" type="xsd:string"/>
			<xsd:element minOccurs="0" name="nombrePadre" type="xsd:string"/>
			<xsd:element minOccurs="0" name="nombreMadre" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
							
	<xsd:complexType name="DatosDomicilio">
		<xsd:sequence>							
			<xsd:element minOccurs="0" name="codUbigeoDepartamento" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codUbigeoProvincia" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codUbigeoDistrito" type="xsd:string"/>
			<xsd:element minOccurs="0" name="departamento" type="xsd:string"/>
			<xsd:element minOccurs="0" name="provincia" type="xsd:string"/>
            <xsd:element minOccurs="0" name="distrito" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codigoPrefijoDireccion" type="xsd:string"/>
            <xsd:element minOccurs="0" name="descripcionPrefijoDireccion" type="xsd:string"/>
			<xsd:element minOccurs="0" name="direccion" type="xsd:string"/>
			<xsd:element minOccurs="0" name="numDireccion" type="xsd:string"/>
            <xsd:element minOccurs="0" name="blockChalet" type="xsd:string"/>
			<xsd:element minOccurs="0" name="interior" type="xsd:string"/>
            <xsd:element minOccurs="0" name="urbanizacion" type="xsd:string"/>
			<xsd:element minOccurs="0" name="etapa" type="xsd:string"/>
			<xsd:element minOccurs="0" name="manzana" type="xsd:string"/>
			<xsd:element minOccurs="0" name="lote" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codigoPrefijoBlockChalet" type="xsd:string"/>
            <xsd:element minOccurs="0" name="descripcionPrefijoBlockChalet" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codigoPrefijoDptoPisoInterior" type="xsd:string"/>
            <xsd:element minOccurs="0" name="descripcionPrefijoDptoPisoInterior" type="xsd:string"/>
			<xsd:element minOccurs="0" name="prefijoUrbCondResid" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descripcionPrefijoUrbCondResid" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DatosNacimiento">
		<xsd:sequence>							
			<xsd:element minOccurs="0" name="codUbigeoDepartamento" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codUbigeoProvincia" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codUbigeoDistrito" type="xsd:string"/>
			<xsd:element minOccurs="0" name="departamento" type="xsd:string"/>
			<xsd:element minOccurs="0" name="provincia" type="xsd:string"/>
            <xsd:element minOccurs="0" name="distrito" type="xsd:string"/>
			<xsd:element minOccurs="0" name="fecha" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DatosDNI">
		<xsd:sequence>	
			<xsd:element minOccurs="0" name="fechaInscripcion" type="xsd:string"/>
			<xsd:element minOccurs="0" name="fechaExpedicion" type="xsd:string"/>
			<xsd:element minOccurs="0" name="constanciaVotacion" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codigoRestriccion" type="xsd:string"/>
            <xsd:element minOccurs="0" name="descripcionRestriccion" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RespuestaImagenes">
		<xsd:sequence>	
			<xsd:element minOccurs="0" name="longitudFoto" type="xsd:string"/>
			<xsd:element minOccurs="0" name="longitudFirma" type="xsd:string"/>
			<xsd:element minOccurs="0" name="foto" type="xsd:string"/>
			<xsd:element minOccurs="0" name="firma" type="xsd:string"/>			
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RespuestaDNI">
		<xsd:sequence>	
			<xsd:element minOccurs="0" name="numDNIConsultado" type="xsd:string"/>			
		</xsd:sequence>
	</xsd:complexType>
	
	
</xsd:schema>