Unificado/fuentes/ClientFactory/ejbModule/META-INF/wsdl/xsd/ConsultaPorNombresFormat.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://pe.grupobbva.com/SIR/ents/body/consultaPorNombres" xmlns:tns="http://pe.grupobbva.com/SIR/ents/body/consultaPorNombres">
	
    <xsd:element name="consultaPorNombresRequest" type="tns:ConsultaPorNombresRequest"/>
	<xsd:element name="consultaPorNombresResponse" type="tns:ConsultaPorNombresResponse"/>	
	<xsd:complexType name="ConsultaPorNombresRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="centroCostos" type="xsd:string"/>
			<xsd:element minOccurs="0" name="hostSolicitante" type="xsd:string"/>					
			<xsd:element minOccurs="0" name="tipoAplicacion" type="xsd:string"/>
			<xsd:element minOccurs="0" name="numeroDNISolicitante" type="xsd:string"/>
			<xsd:element minOccurs="0" name="registroCodUsuario" type="xsd:string"/>					
			<xsd:element minOccurs="0" name="numeroCoincidenciasSolicitadas" type="xsd:string"/>					
			<xsd:element minOccurs="0" name="inicioGrupo" type="xsd:string"/>					
			<xsd:element minOccurs="0" name="apellidoPaterno" type="xsd:string"/>
			<xsd:element minOccurs="0" name="apellidoMaterno" type="xsd:string"/>
			<xsd:element minOccurs="0" name="preNombres" type="xsd:string"/>					
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ConsultaPorNombresResponse">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="numTotalCoindicencias" type="xsd:string"/>					   		
			<xsd:element maxOccurs="1" minOccurs="0" name="listaDatosPersona" type="tns:ListaDatosPersona"/>
    	</xsd:sequence>
	</xsd:complexType>	
	
	<xsd:complexType name="ListaDatosPersona">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="datosPersona" type="tns:DatosPersona"/>								
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DatosPersona">
		<xsd:sequence>			
			<xsd:element minOccurs="0" name="numeroDNIConsultado" type="xsd:string"/>							
			<xsd:element minOccurs="0" name="caracterVerificacion" type="xsd:string"/>							
			<xsd:element minOccurs="0" name="tipoFichaRegistral" type="xsd:string"/>										
			<xsd:element minOccurs="0" name="apellidoPaterno" type="xsd:string"/>										
			<xsd:element minOccurs="0" name="apellidoMaterno" type="xsd:string"/>										
			<xsd:element minOccurs="0" name="preNombres" type="xsd:string"/>										
			<xsd:element minOccurs="0" name="indDatos" type="xsd:string"/>										
			<xsd:element minOccurs="0" name="indImagen" type="xsd:string"/>																			
		</xsd:sequence>
	</xsd:complexType>
								
</xsd:schema>