Unificado_Fuentes_Desarrollo/BBVA_CE_CM_WAS_MIG/WebContent/WEB-INF/wsdl/ContentServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions name="ContentServiceImplService" targetNamespace="http://impl.service.cm.bbva.ibm.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://impl.service.cm.bbva.ibm.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://impl.service.cm.bbva.ibm.com/" schemaLocation="ContentServiceImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="delete">
    <part element="tns:delete" name="parameters"/>
  </message>
  <message name="deleteResponse">
    <part element="tns:deleteResponse" name="parameters"/>
  </message>
  <message name="deleteAll">
    <part element="tns:deleteAll" name="parameters"/>
  </message>
  <message name="deleteAllResponse">
    <part element="tns:deleteAllResponse" name="parameters"/>
  </message>
  <message name="find">
    <part element="tns:find" name="parameters"/>
  </message>
  <message name="findResponse">
    <part element="tns:findResponse" name="parameters"/>
  </message>
  <message name="findAll">
    <part element="tns:findAll" name="parameters"/>
  </message>
  <message name="findAllResponse">
    <part element="tns:findAllResponse" name="parameters"/>
  </message>
  <message name="findAsImage">
    <part element="tns:findAsImage" name="parameters"/>
  </message>
  <message name="findAsImageResponse">
    <part element="tns:findAsImageResponse" name="parameters"/>
  </message>
  <message name="insert">
    <part element="tns:insert" name="parameters"/>
  </message>
  <message name="insertResponse">
    <part element="tns:insertResponse" name="parameters"/>
  </message>
  <message name="insert_PID">
    <part element="tns:insert_PID" name="parameters"/>
  </message>
  <message name="insert_PIDResponse">
    <part element="tns:insert_PIDResponse" name="parameters"/>
  </message>
  <message name="insertAll">
    <part element="tns:insertAll" name="parameters"/>
  </message>
  <message name="insertAllResponse">
    <part element="tns:insertAllResponse" name="parameters"/>
  </message>
  <message name="update">
    <part element="tns:update" name="parameters"/>
  </message>
  <message name="updateResponse">
    <part element="tns:updateResponse" name="parameters"/>
  </message>
  <message name="actualizarTipoDoc">
    <part element="tns:actualizarTipoDoc" name="parameters"/>
  </message>
  <message name="actualizarTipoDocResponse">
    <part element="tns:actualizarTipoDocResponse" name="parameters"/>
  </message>
  <portType name="ContentServiceImpl">
    <operation name="delete">
      <input message="tns:delete" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/deleteRequest"/>
      <output message="tns:deleteResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/deleteResponse"/>
    </operation>
    <operation name="deleteAll">
      <input message="tns:deleteAll" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/deleteAllRequest"/>
      <output message="tns:deleteAllResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/deleteAllResponse"/>
    </operation>
    <operation name="find">
      <input message="tns:find" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/findRequest"/>
      <output message="tns:findResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/findResponse"/>
    </operation>
    <operation name="findAll">
      <input message="tns:findAll" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/findAllRequest"/>
      <output message="tns:findAllResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/findAllResponse"/>
    </operation>
    <operation name="findAsImage">
      <input message="tns:findAsImage" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/findAsImageRequest"/>
      <output message="tns:findAsImageResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/findAsImageResponse"/>
    </operation>
    <operation name="insert">
      <input message="tns:insert" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/insertRequest"/>
      <output message="tns:insertResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/insertResponse"/>
    </operation>
    <operation name="insert_PID">
      <input message="tns:insert_PID" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/insert_PIDRequest"/>
      <output message="tns:insert_PIDResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/insert_PIDResponse"/>
    </operation>
    <operation name="insertAll">
      <input message="tns:insertAll" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/insertAllRequest"/>
      <output message="tns:insertAllResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/insertAllResponse"/>
    </operation>
    <operation name="update">
      <input message="tns:update" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/updateRequest"/>
      <output message="tns:updateResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/updateResponse"/>
    </operation>
    <operation name="actualizarTipoDoc">
      <input message="tns:actualizarTipoDoc" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/actualizarTipoDocRequest"/>
      <output message="tns:actualizarTipoDocResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImpl/actualizarTipoDocResponse"/>
    </operation>
  </portType>
  <binding name="ContentServiceImplPortBinding" type="tns:ContentServiceImpl">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="delete">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteAll">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="find">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="findAll">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="findAsImage">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="insert">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="insert_PID">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="insertAll">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="update">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="actualizarTipoDoc">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ContentServiceImplService">
    <port binding="tns:ContentServiceImplPortBinding" name="ContentServiceImplPort">
      <soap12:address location="http://localhost:9080/BBVA_CE_CM_WAS_MIG/ContentServiceImplService"/>
    </port>
  </service>
</definitions>