Unificado_Fuentes_Desarrollo/BBVA_CE_GUI/WebContent/WEB-INF/wsdl/ContentServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="http://impl.service.cm.bbva.ibm.com" xmlns:impl="http://impl.service.cm.bbva.ibm.com" xmlns:intf="http://impl.service.cm.bbva.ibm.com" xmlns:tns2="http://bean.cm.bbva.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema targetNamespace="http://bean.cm.bbva.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Documento">
    <sequence>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="tipo" nillable="true" type="xsd:string"/>
     <element name="mandatorio" nillable="true" type="xsd:boolean"/>
     <element name="contenido" type="xsd:base64Binary"/>
     <element name="fechaExpiracion" nillable="true" type="xsd:dateTime"/>
     <element name="tipoDoi" nillable="true" type="xsd:string"/>
     <element name="numDoi" nillable="true" type="xsd:string"/>
     <element name="codCliente" nillable="true" type="xsd:string"/>
     <element name="nombreArchivo" nillable="true" type="xsd:string"/>
     <element name="origen" nillable="true" type="xsd:string"/>
     <element name="fechaCreacion" nillable="true" type="xsd:dateTime"/>
     <element name="urlContent" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
    <schema targetNamespace="http://impl.service.cm.bbva.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.cm.bbva.ibm.com"/>
   <element name="insert_PIDResponse">
    <complexType>
     <sequence>
      <element name="insert_PIDReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertAll">
    <complexType>
     <sequence>
      <element name="documentos" nillable="true" type="impl:ArrayOf_1659910637_nillable_Documento"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertAllResponse">
    <complexType>
     <sequence>
      <element name="insertAllReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findAll">
    <complexType>
     <sequence>
      <element name="documento" nillable="true" type="tns2:Documento"/>
     </sequence>
    </complexType>
   </element>
   <element name="findAllResponse">
    <complexType>
     <sequence>
      <element name="findAllReturn" nillable="true" type="impl:ArrayOf_1659910637_nillable_Documento"/>
     </sequence>
    </complexType>
   </element>
   <element name="update">
    <complexType>
     <sequence>
      <element name="documento" nillable="true" type="tns2:Documento"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateResponse">
    <complexType>
     <sequence>
      <element name="updateReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="actualizarTipoDoc">
    <complexType>
     <sequence>
      <element name="id" nillable="true" type="xsd:int"/>
      <element name="tipoDoc" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="actualizarTipoDocResponse">
    <complexType>
     <sequence>
      <element name="actualizarTipoDocReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findAsImage">
    <complexType>
     <sequence>
      <element name="documento" nillable="true" type="tns2:Documento"/>
      <element name="mimeType" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findAsImageResponse">
    <complexType>
     <sequence>
      <element name="findAsImageReturn" nillable="true" type="tns2:Documento"/>
     </sequence>
    </complexType>
   </element>
   <element name="delete">
    <complexType>
     <sequence>
      <element name="documento" nillable="true" type="tns2:Documento"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteResponse">
    <complexType>
     <sequence>
      <element name="deleteReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteAll">
    <complexType>
     <sequence>
      <element name="documentos" nillable="true" type="impl:ArrayOf_1659910637_nillable_Documento"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteAllResponse">
    <complexType>
     <sequence>
      <element name="deleteAllReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insert">
    <complexType>
     <sequence>
      <element name="documento" nillable="true" type="tns2:Documento"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertResponse">
    <complexType>
     <sequence>
      <element name="insertReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="find">
    <complexType>
     <sequence>
      <element name="documento" nillable="true" type="tns2:Documento"/>
     </sequence>
    </complexType>
   </element>
   <element name="findResponse">
    <complexType>
     <sequence>
      <element name="findReturn" nillable="true" type="tns2:Documento"/>
     </sequence>
    </complexType>
   </element>
   <element name="insert_PID">
    <complexType>
     <sequence>
      <element name="documento" nillable="true" type="tns2:Documento"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_1659910637_nillable_Documento">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="Documento" nillable="true" type="tns2:Documento"/>
    </sequence>
   </complexType>
  </schema>
  </wsdl:types>
  <wsdl:message name="findAsImageResponse">
    <wsdl:part element="impl:findAsImageResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part element="impl:updateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findRequest">
    <wsdl:part element="impl:find" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findAllResponse">
    <wsdl:part element="impl:findAllResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="insert_PIDResponse">
    <wsdl:part element="impl:insert_PIDResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteRequest">
    <wsdl:part element="impl:delete" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="insertAllResponse">
    <wsdl:part element="impl:insertAllResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="insert_PIDRequest">
    <wsdl:part element="impl:insert_PID" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteAllRequest">
    <wsdl:part element="impl:deleteAll" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteAllResponse">
    <wsdl:part element="impl:deleteAllResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findResponse">
    <wsdl:part element="impl:findResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="actualizarTipoDocRequest">
    <wsdl:part element="impl:actualizarTipoDoc" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="actualizarTipoDocResponse">
    <wsdl:part element="impl:actualizarTipoDocResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findAllRequest">
    <wsdl:part element="impl:findAll" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part element="impl:deleteResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="insertResponse">
    <wsdl:part element="impl:insertResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="insertAllRequest">
    <wsdl:part element="impl:insertAll" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateRequest">
    <wsdl:part element="impl:update" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="insertRequest">
    <wsdl:part element="impl:insert" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findAsImageRequest">
    <wsdl:part element="impl:findAsImage" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ContentServiceImpl">
    <wsdl:operation name="insert_PID">
      <wsdl:input message="impl:insert_PIDRequest" name="insert_PIDRequest"/>
      <wsdl:output message="impl:insert_PIDResponse" name="insert_PIDResponse"/>
    </wsdl:operation>
    <wsdl:operation name="insertAll">
      <wsdl:input message="impl:insertAllRequest" name="insertAllRequest"/>
      <wsdl:output message="impl:insertAllResponse" name="insertAllResponse"/>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <wsdl:input message="impl:findAllRequest" name="findAllRequest"/>
      <wsdl:output message="impl:findAllResponse" name="findAllResponse"/>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="impl:updateRequest" name="updateRequest"/>
      <wsdl:output message="impl:updateResponse" name="updateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="actualizarTipoDoc">
      <wsdl:input message="impl:actualizarTipoDocRequest" name="actualizarTipoDocRequest"/>
      <wsdl:output message="impl:actualizarTipoDocResponse" name="actualizarTipoDocResponse"/>
    </wsdl:operation>
    <wsdl:operation name="findAsImage">
      <wsdl:input message="impl:findAsImageRequest" name="findAsImageRequest"/>
      <wsdl:output message="impl:findAsImageResponse" name="findAsImageResponse"/>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="impl:deleteRequest" name="deleteRequest"/>
      <wsdl:output message="impl:deleteResponse" name="deleteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteAll">
      <wsdl:input message="impl:deleteAllRequest" name="deleteAllRequest"/>
      <wsdl:output message="impl:deleteAllResponse" name="deleteAllResponse"/>
    </wsdl:operation>
    <wsdl:operation name="insert">
      <wsdl:input message="impl:insertRequest" name="insertRequest"/>
      <wsdl:output message="impl:insertResponse" name="insertResponse"/>
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input message="impl:findRequest" name="findRequest"/>
      <wsdl:output message="impl:findResponse" name="findResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContentServiceImplSoapBinding" type="impl:ContentServiceImpl">
<wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="insert_PID">
      <wsdlsoap:operation soapAction="insert_PID"/>
      <wsdl:input name="insert_PIDRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insert_PIDResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertAll">
      <wsdlsoap:operation soapAction="insertAll"/>
      <wsdl:input name="insertAllRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertAllResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <wsdlsoap:operation soapAction="findAll"/>
      <wsdl:input name="findAllRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAllResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdlsoap:operation soapAction="update"/>
      <wsdl:input name="updateRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarTipoDoc">
      <wsdlsoap:operation soapAction="actualizarTipoDoc"/>
      <wsdl:input name="actualizarTipoDocRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="actualizarTipoDocResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAsImage">
      <wsdlsoap:operation soapAction="findAsImage"/>
      <wsdl:input name="findAsImageRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAsImageResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdlsoap:operation soapAction="delete"/>
      <wsdl:input name="deleteRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAll">
      <wsdlsoap:operation soapAction="deleteAll"/>
      <wsdl:input name="deleteAllRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteAllResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert">
      <wsdlsoap:operation soapAction="insert"/>
      <wsdl:input name="insertRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdlsoap:operation soapAction="find"/>
      <wsdl:input name="findRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContentServiceImplService">
    <wsdl:port binding="impl:ContentServiceImplSoapBinding" name="ContentServiceImpl">
      <wsdlsoap:address location="http://118.180.60.66:9080/PLDWEBCM/services/ContentServiceImpl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>