Unificado_Fuentes_Desarrollo/BBVA_CE_GUI/WebContent/WEB-INF/wsdl/wServiceExt_idm.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><definitions name="WSLDAPServiceExtImplService" targetNamespace="http://ext.servidor.ldap.ws.bbva.com.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ext.servidor.ldap.ws.bbva.com.pe/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<types>
<xsd:schema>
<xsd:import namespace="http://servidor.ldap.ws.bbva.com.pe/Usuario/codigoUsuario" schemaLocation="http://118.180.14.22:8080/ws-ldap3/wServiceExt?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://servidor.ldap.ws.bbva.com.pe/Usuario" schemaLocation="http://118.180.14.22:8080/ws-ldap3/wServiceExt?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://servidor.ldap.ws.bbva.com.pe/Puesto/codigoPuesto" schemaLocation="http://118.180.14.22:8080/ws-ldap3/wServiceExt?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://servidor.ldap.ws.bbva.com.pe/Puesto" schemaLocation="http://118.180.14.22:8080/ws-ldap3/wServiceExt?xsd=4"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://servidor.ldap.ws.bbva.com.pe/Perfil/codigoPerfil" schemaLocation="http://118.180.14.22:8080/ws-ldap3/wServiceExt?xsd=5"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://servidor.ldap.ws.bbva.com.pe/Perfil" schemaLocation="http://118.180.14.22:8080/ws-ldap3/wServiceExt?xsd=6"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://servidor.ldap.ws.bbva.com.pe/Empresa/codigoEmpresa" schemaLocation="http://118.180.14.22:8080/ws-ldap3/wServiceExt?xsd=7"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://servidor.ldap.ws.bbva.com.pe/Aplicacion/codigoAplicacion" schemaLocation="http://118.180.14.22:8080/ws-ldap3/wServiceExt?xsd=8"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://ext.servidor.ldap.ws.bbva.com.pe/" schemaLocation="http://118.180.14.22:8080/ws-ldap3/wServiceExt?xsd=9"/>
</xsd:schema>
</types>
<message name="obtenerUsuarios">
<part element="tns:obtenerUsuarios" name="parameters"/>
</message>
<message name="obtenerUsuariosResponse">
<part element="tns:obtenerUsuariosResponse" name="parameters"/>
</message>
<message name="WSLdapException">
<part element="tns:WSLdapException" name="fault"/>
</message>
<message name="obtenerUsuariosPorPerfil">
<part element="tns:obtenerUsuariosPorPerfil" name="parameters"/>
</message>
<message name="obtenerUsuariosPorPerfilResponse">
<part element="tns:obtenerUsuariosPorPerfilResponse" name="parameters"/>
</message>
<message name="obtenerPerfiles">
<part element="tns:obtenerPerfiles" name="parameters"/>
</message>
<message name="obtenerPerfilesResponse">
<part element="tns:obtenerPerfilesResponse" name="parameters"/>
</message>
<message name="obtenerPuestos">
<part element="tns:obtenerPuestos" name="parameters"/>
</message>
<message name="obtenerPuestosResponse">
<part element="tns:obtenerPuestosResponse" name="parameters"/>
</message>
<message name="obtenerPerfilesPorUsuarioyAplicacion">
<part element="tns:obtenerPerfilesPorUsuarioyAplicacion" name="parameters"/>
</message>
<message name="obtenerPerfilesPorUsuarioyAplicacionResponse">
<part element="tns:obtenerPerfilesPorUsuarioyAplicacionResponse" name="parameters"/>
</message>
<message name="obtenerUsuariosPorEmpresa">
<part element="tns:obtenerUsuariosPorEmpresa" name="parameters"/>
</message>
<message name="obtenerUsuariosPorEmpresaResponse">
<part element="tns:obtenerUsuariosPorEmpresaResponse" name="parameters"/>
</message>
<portType name="WSLDAPServiceExtImpl">
<operation name="obtenerUsuarios">
<input message="tns:obtenerUsuarios" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerUsuariosRequest"/>
<output message="tns:obtenerUsuariosResponse" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerUsuariosResponse"/>
<fault message="tns:WSLdapException" name="WSLdapException" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerUsuarios/Fault/WSLdapException"/>
</operation>
<operation name="obtenerUsuariosPorPerfil">
<input message="tns:obtenerUsuariosPorPerfil" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerUsuariosPorPerfilRequest"/>
<output message="tns:obtenerUsuariosPorPerfilResponse" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerUsuariosPorPerfilResponse"/>
<fault message="tns:WSLdapException" name="WSLdapException" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerUsuariosPorPerfil/Fault/WSLdapException"/>
</operation>
<operation name="obtenerPerfiles">
<input message="tns:obtenerPerfiles" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerPerfilesRequest"/>
<output message="tns:obtenerPerfilesResponse" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerPerfilesResponse"/>
<fault message="tns:WSLdapException" name="WSLdapException" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerPerfiles/Fault/WSLdapException"/>
</operation>
<operation name="obtenerPuestos">
<input message="tns:obtenerPuestos" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerPuestosRequest"/>
<output message="tns:obtenerPuestosResponse" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerPuestosResponse"/>
<fault message="tns:WSLdapException" name="WSLdapException" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerPuestos/Fault/WSLdapException"/>
</operation>
<operation name="obtenerPerfilesPorUsuarioyAplicacion">
<input message="tns:obtenerPerfilesPorUsuarioyAplicacion" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerPerfilesPorUsuarioyAplicacionRequest"/>
<output message="tns:obtenerPerfilesPorUsuarioyAplicacionResponse" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerPerfilesPorUsuarioyAplicacionResponse"/>
<fault message="tns:WSLdapException" name="WSLdapException" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerPerfilesPorUsuarioyAplicacion/Fault/WSLdapException"/>
</operation>
<operation name="obtenerUsuariosPorEmpresa">
<input message="tns:obtenerUsuariosPorEmpresa" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerUsuariosPorEmpresaRequest"/>
<output message="tns:obtenerUsuariosPorEmpresaResponse" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerUsuariosPorEmpresaResponse"/>
<fault message="tns:WSLdapException" name="WSLdapException" wsam:Action="http://ext.servidor.ldap.ws.bbva.com.pe/WSLDAPServiceExtImpl/obtenerUsuariosPorEmpresa/Fault/WSLdapException"/>
</operation>
</portType>
<binding name="WSLDAPServiceExtImplPortBinding" type="tns:WSLDAPServiceExtImpl">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="obtenerUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSLdapException">
<soap:fault name="WSLdapException" use="literal"/>
</fault>
</operation>
<operation name="obtenerUsuariosPorPerfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSLdapException">
<soap:fault name="WSLdapException" use="literal"/>
</fault>
</operation>
<operation name="obtenerPerfiles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSLdapException">
<soap:fault name="WSLdapException" use="literal"/>
</fault>
</operation>
<operation name="obtenerPuestos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSLdapException">
<soap:fault name="WSLdapException" use="literal"/>
</fault>
</operation>
<operation name="obtenerPerfilesPorUsuarioyAplicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSLdapException">
<soap:fault name="WSLdapException" use="literal"/>
</fault>
</operation>
<operation name="obtenerUsuariosPorEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSLdapException">
<soap:fault name="WSLdapException" use="literal"/>
</fault>
</operation>
</binding>
<service name="WSLDAPServiceExtImplService">
<port binding="tns:WSLDAPServiceExtImplPortBinding" name="WSLDAPServiceExtImplPort">
<soap:address location="http://118.180.14.22:8080/ws-ldap3/wServiceExt"/>
</port>
</service>
</definitions>