Bastanteo/fuentes/BBVA_CTACTE_ClienteWS/src/META-INF/wsdl/ACCPJ_ServiciosWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ACCPJ_ServiciosWeb" targetNamespace="http://grupobbva.com.pe/accpj/" xmlns:Q1="http://grupobbva.com.pe/accpj/pj/" xmlns:oldtns1="http://grupobbva.com.pe/accpj/rela/" xmlns:pey4="http://grupobbva.com.pe/accpj/pey4/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://grupobbva.com.pe/accpj/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:documentation>
		<wsdl:appinfo source="WMQI_APPINFO">
			<MRWSDLAppInfo imported="true">
				<binding hasEncoding="false" imported="true" name="ACCPJ_ServiciosWeb_Binding" originalBindingStyle="document"/>
			</MRWSDLAppInfo>
		</wsdl:appinfo>
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="http://grupobbva.com.pe/accpj/" xmlns:mrm="http://grupobbva.com.pe/accpj/">
			<xsd:import namespace="http://grupobbva.com.pe/accpj/pj/" schemaLocation="pe/com/grupobbva/accpj/pj/ACCJP_BuscarPersonaJuridica.mxsd"/>
			<xsd:import namespace="http://grupobbva.com.pe/accpj/rela/" schemaLocation="pe/com/grupobbva/accpj/rela/ACCJP_ConsultarRelaciones.mxsd"/>
			<xsd:import namespace="http://grupobbva.com.pe/accpj/pey4/" schemaLocation="pe/com/grupobbva/accpj/pey4/ACCJP_ConsultarRelacionesPaginado.mxsd"/>	
		</xsd:schema>
	</wsdl:types> 
	<wsdl:message name="consultarRelaciones_in">
		<wsdl:part element="oldtns1:ConsultarRelacionesRq" name="ConsultarRelacionesRq"/>
	</wsdl:message>
	<wsdl:message name="consultarRelaciones_out">
		<wsdl:part element="oldtns1:ConsultarRelacionesRs" name="ConsultarRelacionesRs"/>
	</wsdl:message>
	<wsdl:message name="buscarPersonaJuridica_in">
		<wsdl:part element="Q1:BuscarPersonaJuridicaRq" name="BuscarPersonaJuridicaRq"/>
	</wsdl:message>
	<wsdl:message name="buscarPersonaJuridica_out">
		<wsdl:part element="Q1:BuscarPersonaJuridicaRs" name="BuscarPersonaJuridicaRs"/>
	</wsdl:message>
	<!-- Agregado everis 06/08/2014 Paginado -->
	<wsdl:message name="consultarRelacionesPaginado_in">
		<wsdl:part element="pey4:ConsultarRelacionesPaginadoRq" name="ConsultarRelacionesPaginadoRq"/>
	</wsdl:message>
	<wsdl:message name="consultarRelacionesPaginado_out">
		<wsdl:part element="pey4:ConsultarRelacionesPaginadoRs" name="ConsultarRelacionesPaginadoRs"/>
	</wsdl:message>
	
	
	<wsdl:portType name="ACCPJ_ServiciosWeb_PortType">
		<wsdl:operation name="consultarRelaciones">
			<wsdl:input message="tns:consultarRelaciones_in" name="consultarRelaciones_Input"/>
			<wsdl:output message="tns:consultarRelaciones_out" name="consultarRelaciones_Output"/>
		</wsdl:operation>
		<wsdl:operation name="buscarPersonaJuridica">
			<wsdl:input message="tns:buscarPersonaJuridica_in" name="buscarPersonaJuridica_Input"/>
			<wsdl:output message="tns:buscarPersonaJuridica_out" name="buscarPersonaJuridica_Output"/>
		</wsdl:operation>
	
		<!-- Agregado everis 06/08/2014 Paginado -->
		<wsdl:operation name="ConsultarRelacionesPaginado">
			<wsdl:input message="tns:consultarRelacionesPaginado_in" name="consultarRelacionesPaginado_Input"/>
			<wsdl:output message="tns:consultarRelacionesPaginado_out" name="consultarRelacionesPaginado_Output"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="ACCPJ_ServiciosWeb_Binding" type="tns:ACCPJ_ServiciosWeb_PortType">

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultarRelaciones">

			<soap:operation soapAction="http://grupobbva.com.pe/accpj/consultarRelaciones"/>
			<wsdl:input name="consultarRelaciones_Input">

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="consultarRelaciones_Output">

				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="buscarPersonaJuridica">

			<soap:operation soapAction="http://grupobbva.com.pe/accpj/buscarPersonaJuridica"/>
			<wsdl:input name="buscarPersonaJuridica_Input">

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="buscarPersonaJuridica_Output">

				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- Agregado everis 06/08/2014 Paginado -->
		<wsdl:operation name="ConsultarRelacionesPaginado">

			<soap:operation soapAction="http://grupobbva.com.pe/accpj/ConsultarRelacionesPaginado"/>
			<wsdl:input name="consultarRelacionesPaginado_Input">

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="consultarRelacionesPaginado_Output">

				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ACCPJ_ServiciosWeb_Service">
		<wsdl:port binding="tns:ACCPJ_ServiciosWeb_Binding" name="ACCPJ_ServiciosWeb_Port">
			<soap:address location="http://118.180.36.26:7815/accpj/servicios/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>