Bastanteo/fuentes/BBVA_CTACTE_ClienteWS/src/META-INF/wsdl/ContentServiceImplService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://impl.service.cm.bbva.ibm.com/" version="1.0" xmlns:tns="http://impl.service.cm.bbva.ibm.com/">

  <xs:element name="actualizarTipoDoc" type="tns:actualizarTipoDoc"/>

  <xs:element name="actualizarTipoDocResponse" type="tns:actualizarTipoDocResponse"/>

  <xs:element name="delete" type="tns:delete"/>

  <xs:element name="deleteAll" type="tns:deleteAll"/>

  <xs:element name="deleteAllResponse" type="tns:deleteAllResponse"/>

  <xs:element name="deleteResponse" type="tns:deleteResponse"/>

  <xs:element name="find" type="tns:find"/>

  <xs:element name="findAll" type="tns:findAll"/>

  <xs:element name="findAllResponse" type="tns:findAllResponse"/>

  <xs:element name="findAsImage" type="tns:findAsImage"/>

  <xs:element name="findAsImageResponse" type="tns:findAsImageResponse"/>

  <xs:element name="findResponse" type="tns:findResponse"/>

  <xs:element name="insert" type="tns:insert"/>

  <xs:element name="insertAll" type="tns:insertAll"/>

  <xs:element name="insertAllResponse" type="tns:insertAllResponse"/>

  <xs:element name="insertResponse" type="tns:insertResponse"/>

  <xs:element name="insert_PID" type="tns:insert_PID"/>

  <xs:element name="insert_PIDResponse" type="tns:insert_PIDResponse"/>

  <xs:element name="update" type="tns:update"/>

  <xs:element name="updateResponse" type="tns:updateResponse"/>

  <xs:complexType name="delete">
    <xs:sequence>
      <xs:element minOccurs="0" name="documento" type="tns:documento"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="documento">
    <xs:sequence>
      <xs:element minOccurs="0" name="codCliente" type="xs:string"/>
      <xs:element minOccurs="0" name="contenido" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="fechaExpiracion" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="mandatorio" type="xs:boolean"/>
      <xs:element minOccurs="0" name="nombreArchivo" type="xs:string"/>
      <xs:element minOccurs="0" name="numDoi" type="xs:string"/>
      <xs:element minOccurs="0" name="origen" type="xs:string"/>
      <xs:element minOccurs="0" name="tipo" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoDoi" type="xs:string"/>
      <xs:element minOccurs="0" name="urlContent" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertAll">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="documentos" nillable="true" type="tns:documento"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertAllResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="actualizarTipoDoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="tipoDoc" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="actualizarTipoDocResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAsImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="documento" type="tns:documento"/>
      <xs:element minOccurs="0" name="mimeType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAsImageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:documento"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insert">
    <xs:sequence>
      <xs:element minOccurs="0" name="documento" type="tns:documento"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="find">
    <xs:sequence>
      <xs:element minOccurs="0" name="documento" type="tns:documento"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:documento"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="update">
    <xs:sequence>
      <xs:element minOccurs="0" name="documento" type="tns:documento"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insert_PID">
    <xs:sequence>
      <xs:element minOccurs="0" name="documento" type="tns:documento"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insert_PIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteAll">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="documentos" nillable="true" type="tns:documento"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteAllResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAll">
    <xs:sequence>
      <xs:element minOccurs="0" name="documento" type="tns:documento"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAllResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:documento"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>