Bastanteo/fuentes/BBVA_CTACTE_ClienteWS/src/META-INF/wsdl/xsd/SCE_QPS5_InqPerfilUsuario.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema elementFormDefault="qualified" targetNamespace="http://grupobbva.com.pe/sce/qsp5/" xmlns:tns="http://grupobbva.com.pe/sce/qsp5/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="InqPerfilUsuarioRq" type="tns:ctInqPerfilUsuarioRq"/>
	<xsd:element name="InqPerfilUsuarioRs" type="tns:ctInqPerfilUsuarioRs"/>
	
	
	<!-- ======================== -->
	<!-- ComplexTypes Definitions -->
	<!-- ======================== -->
	
	<xsd:complexType name="ctHeader">
	  <xsd:sequence>
	  	<xsd:element name="usuario" type="tns:stUsuario"/>
	  </xsd:sequence>
	</xsd:complexType>
	
	<!-- ***** Request ***** -->
	
	<xsd:complexType name="ctBodyRq">
	  <xsd:sequence>
	  	<xsd:element name="usuario" type="tns:stUsuario"/>
	  </xsd:sequence>
	</xsd:complexType>
	
	<!-- ***** Response ***** -->
	
	<xsd:complexType name="ctHeaderRs">
	  <xsd:sequence>
	  	<xsd:element name="codigo" type="xsd:string"/>
	  	<xsd:element name="descripcion" type="xsd:string"/>
	  	<xsd:element minOccurs="0" name="aviso" type="xsd:string"/>
	  </xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ctBodyRs">
	  <xsd:sequence>
	  	<xsd:element name="nombre" type="xsd:string"/>
	  	<xsd:element name="apePaterno" type="xsd:string"/>
	  	<xsd:element name="apeMaterno" type="xsd:string"/>
	  	<xsd:element name="descPuesto" type="xsd:string"/>
	  	<xsd:element name="oficOperativa" type="xsd:string"/>
	  	<xsd:element name="descOficina" type="xsd:string"/>
	  	<xsd:element name="perfil" type="xsd:string"/>
	  	<xsd:element name="indTemporalidad" type="xsd:string"/>
	  	<xsd:element name="unidadGestora" type="xsd:string"/>
	  	<xsd:element name="descBanca" type="xsd:string"/>
	  	<xsd:element name="clio" type="xsd:string"/>
	  	<xsd:element name="aplicFacultades" type="xsd:string"/>
	  	<xsd:element name="servicioA" type="xsd:string"/>
	  	<xsd:element name="servicioB" type="xsd:string"/>
	  </xsd:sequence>
	</xsd:complexType>
	
	<!-- ***** Messages ***** -->
	
	<xsd:complexType name="ctInqPerfilUsuarioRq">
	  <xsd:sequence>
	  	<xsd:element name="Header" type="tns:ctHeader"/>
	  	<xsd:element name="Data" type="tns:ctBodyRq"/>
	  </xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ctInqPerfilUsuarioRs">
	  <xsd:sequence>
	  	<xsd:element name="Header" type="tns:ctHeaderRs"/>
	  	<xsd:element minOccurs="0" name="Data" type="tns:ctBodyRs"/>
	  </xsd:sequence>
	</xsd:complexType>
	
	<!-- ======================== -->
	<!-- SimpleTypes Definitions  -->
	<!-- ======================== -->

	<xsd:simpleType name="stUsuario">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>