Unificado_Fuentes_Desarrollo/ClientFactory/ejbModule/META-INF/wsdl/WS_PersonaRENIEC.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_PersonaReniec" targetNamespace="http://pe.grupobbva.com/SIR/service/message" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pe.grupobbva.com/SIR/service/message" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
  <wsdl:types>
		<xsd:schema targetNamespace="http://pe.grupobbva.com/SIR/service/message">
			<xsd:include schemaLocation="xsd/MessageFormat.xsd"/>
		</xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="consultaPorNombresRequestMsg">
    	<wsdl:part element="tns:consultaPorNombresRequest" name="consultaPorNombresRequest"/>
  </wsdl:message>

  <wsdl:message name="consultaPorNombresResponseMsg">
    	<wsdl:part element="tns:consultaPorNombresResponse" name="consultaPorNombresResponse"/>
  </wsdl:message>

  <wsdl:message name="consultaPorDNIRequestMsg">
    	<wsdl:part element="tns:consultaPorDNIRequest" name="consultaPorDNIRequest"/>
  </wsdl:message>

  <wsdl:message name="consultaPorDNIResponseMsg">
    	<wsdl:part element="tns:consultaPorDNIResponse" name="consultaPorDNIResponse"/>
  </wsdl:message>
    
  <wsdl:portType name="WS_PersonaReniec">
		<wsdl:operation name="consultaPorNombres">
			<wsdl:input message="tns:consultaPorNombresRequestMsg"/>
			<wsdl:output message="tns:consultaPorNombresResponseMsg"/>
		</wsdl:operation>
		<wsdl:operation name="consultaPorDNI">
			<wsdl:input message="tns:consultaPorDNIRequestMsg"/>
			<wsdl:output message="tns:consultaPorDNIResponseMsg"/>
		</wsdl:operation>		
 </wsdl:portType>
 
 	<wsdl:binding name="WS_PersonaReniec_HttpBinding" type="tns:WS_PersonaReniec">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultaPorNombres">
			<soap:operation soapAction="http://pe.grupobbva.com/SIR/service/message"/>			
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="consultaPorDNI">
			<soap:operation soapAction="http://pe.grupobbva.com/SIR/service/message"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="WS_PersonaReniec">
		<wsdl:port binding="tns:WS_PersonaReniec_HttpBinding" name="WS_PersonaReniec">
			<soap:address location="http://localhost:8080/SIR/externo/reniec/Servicio"/>
		</wsdl:port>
	</wsdl:service>
  
</wsdl:definitions>