Bastanteo/fuentes/BBVA_CTACTE_Servicio/WebContent/WEB-INF/wsdl/CEContentManagerServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions name="CEContentManagerServiceService" targetNamespace="http://cm.servicio.ctacte.bbva.ibm.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cm.servicio.ctacte.bbva.ibm.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://cm.servicio.ctacte.bbva.ibm.com/" schemaLocation="CEContentManagerServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="obtenerDocumentoCM">
    <part element="tns:obtenerDocumentoCM" name="parameters"/>
  </message>
  <message name="obtenerDocumentoCMResponse">
    <part element="tns:obtenerDocumentoCMResponse" name="parameters"/>
  </message>
  <message name="obtenerDocumentoCMxCodigo">
    <part element="tns:obtenerDocumentoCMxCodigo" name="parameters"/>
  </message>
  <message name="obtenerDocumentoCMxCodigoResponse">
    <part element="tns:obtenerDocumentoCMxCodigoResponse" name="parameters"/>
  </message>
  <message name="actualizarEstadoDocumento_CC">
    <part element="tns:actualizarEstadoDocumento_CC" name="parameters"/>
  </message>
  <message name="actualizarEstadoDocumento_CCResponse">
    <part element="tns:actualizarEstadoDocumento_CCResponse" name="parameters"/>
  </message>
  <message name="actualizarEstadoDocumentoxCodigo_CC">
    <part element="tns:actualizarEstadoDocumentoxCodigo_CC" name="parameters"/>
  </message>
  <message name="actualizarEstadoDocumentoxCodigo_CCResponse">
    <part element="tns:actualizarEstadoDocumentoxCodigo_CCResponse" name="parameters"/>
  </message>
  <message name="actualizarDocumentoExp_IdCMCopia">
    <part element="tns:actualizarDocumentoExp_IdCMCopia" name="parameters"/>
  </message>
  <message name="actualizarDocumentoExp_IdCMCopiaResponse">
    <part element="tns:actualizarDocumentoExp_IdCMCopiaResponse" name="parameters"/>
  </message>
  <message name="obtenerDocumentoxCodigo_CC">
    <part element="tns:obtenerDocumentoxCodigo_CC" name="parameters"/>
  </message>
  <message name="obtenerDocumentoxCodigo_CCResponse">
    <part element="tns:obtenerDocumentoxCodigo_CCResponse" name="parameters"/>
  </message>
  <message name="obtenerDocumentoExpediente_CC">
    <part element="tns:obtenerDocumentoExpediente_CC" name="parameters"/>
  </message>
  <message name="obtenerDocumentoExpediente_CCResponse">
    <part element="tns:obtenerDocumentoExpediente_CCResponse" name="parameters"/>
  </message>
  <portType name="CEContentManagerServiceDelegate">
    <operation name="obtenerDocumentoCM">
      <input message="tns:obtenerDocumentoCM" wsam:Action="http://cm.servicio.ctacte.bbva.ibm.com/CEContentManagerServiceDelegate/obtenerDocumentoCMRequest"/>
      <output message="tns:obtenerDocumentoCMResponse" wsam:Action="http://cm.servicio.ctacte.bbva.ibm.com/CEContentManagerServiceDelegate/obtenerDocumentoCMResponse"/>
    </operation>
    <operation name="obtenerDocumentoCMxCodigo">
      <input message="tns:obtenerDocumentoCMxCodigo" wsam:Action="http://cm.servicio.ctacte.bbva.ibm.com/CEContentManagerServiceDelegate/obtenerDocumentoCMxCodigoRequest"/>
      <output message="tns:obtenerDocumentoCMxCodigoResponse" wsam:Action="http://cm.servicio.ctacte.bbva.ibm.com/CEContentManagerServiceDelegate/obtenerDocumentoCMxCodigoResponse"/>
    </operation>
    <operation name="actualizarEstadoDocumento_CC">
      <input message="tns:actualizarEstadoDocumento_CC" wsam:Action="http://cm.servicio.ctacte.bbva.ibm.com/CEContentManagerServiceDelegate/actualizarEstadoDocumento_CCRequest"/>
      <output message="tns:actualizarEstadoDocumento_CCResponse" wsam:Action="http://cm.servicio.ctacte.bbva.ibm.com/CEContentManagerServiceDelegate/actualizarEstadoDocumento_CCResponse"/>
    </operation>
    <operation name="actualizarEstadoDocumentoxCodigo_CC">
      <input message="tns:actualizarEstadoDocumentoxCodigo_CC" wsam:Action="http://cm.servicio.ctacte.bbva.ibm.com/CEContentManagerServiceDelegate/actualizarEstadoDocumentoxCodigo_CCRequest"/>
      <output message="tns:actualizarEstadoDocumentoxCodigo_CCResponse" wsam:Action="http://cm.servicio.ctacte.bbva.ibm.com/CEContentManagerServiceDelegate/actualizarEstadoDocumentoxCodigo_CCResponse"/>
    </operation>
    <operation name="actualizarDocumentoExp_IdCMCopia">
      <input message="tns:actualizarDocumentoExp_IdCMCopia" wsam:Action="http://cm.servicio.ctacte.bbva.ibm.com/CEContentManagerServiceDelegate/actualizarDocumentoExp_IdCMCopiaRequest"/>
      <output message="tns:actualizarDocumentoExp_IdCMCopiaResponse" wsam:Action="http://cm.servicio.ctacte.bbva.ibm.com/CEContentManagerServiceDelegate/actualizarDocumentoExp_IdCMCopiaResponse"/>
    </operation>
    <operation name="obtenerDocumentoxCodigo_CC">
      <input message="tns:obtenerDocumentoxCodigo_CC" wsam:Action="http://cm.servicio.ctacte.bbva.ibm.com/CEContentManagerServiceDelegate/obtenerDocumentoxCodigo_CCRequest"/>
      <output message="tns:obtenerDocumentoxCodigo_CCResponse" wsam:Action="http://cm.servicio.ctacte.bbva.ibm.com/CEContentManagerServiceDelegate/obtenerDocumentoxCodigo_CCResponse"/>
    </operation>
    <operation name="obtenerDocumentoExpediente_CC">
      <input message="tns:obtenerDocumentoExpediente_CC" wsam:Action="http://cm.servicio.ctacte.bbva.ibm.com/CEContentManagerServiceDelegate/obtenerDocumentoExpediente_CCRequest"/>
      <output message="tns:obtenerDocumentoExpediente_CCResponse" wsam:Action="http://cm.servicio.ctacte.bbva.ibm.com/CEContentManagerServiceDelegate/obtenerDocumentoExpediente_CCResponse"/>
    </operation>
  </portType>
  <binding name="CEContentManagerServicePortBinding" type="tns:CEContentManagerServiceDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="obtenerDocumentoCM">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerDocumentoCMxCodigo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="actualizarEstadoDocumento_CC">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="actualizarEstadoDocumentoxCodigo_CC">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="actualizarDocumentoExp_IdCMCopia">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerDocumentoxCodigo_CC">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerDocumentoExpediente_CC">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CEContentManagerServiceService">
    <port binding="tns:CEContentManagerServicePortBinding" name="CEContentManagerServicePort">
      <soap:address location="http://localhost:9080/BBVA_CTACTE_Servicio/CEContentManagerServiceService"/>
    </port>
  </service>
</definitions>