Bastanteo/fuentes/BBVA_CTACTE_Servicio/WebContent/WEB-INF/wsdl/CEProcessServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions name="CEProcessServiceService" targetNamespace="http://proceso.servicio.ctacte.bbva.ibm.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://proceso.servicio.ctacte.bbva.ibm.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://proceso.servicio.ctacte.bbva.ibm.com/" schemaLocation="CEProcessServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="dentroPlazoSubsanacion">
    <part element="tns:dentroPlazoSubsanacion" name="parameters"/>
  </message>
  <message name="dentroPlazoSubsanacionResponse">
    <part element="tns:dentroPlazoSubsanacionResponse" name="parameters"/>
  </message>
  <message name="obtenerNumExpedientesxEmpleado">
    <part element="tns:obtenerNumExpedientesxEmpleado" name="parameters"/>
  </message>
  <message name="obtenerNumExpedientesxEmpleadoResponse">
    <part element="tns:obtenerNumExpedientesxEmpleadoResponse" name="parameters"/>
  </message>
  <message name="obtenerEmpleadoxPesoParticipe">
    <part element="tns:obtenerEmpleadoxPesoParticipe" name="parameters"/>
  </message>
  <message name="obtenerEmpleadoxPesoParticipeResponse">
    <part element="tns:obtenerEmpleadoxPesoParticipeResponse" name="parameters"/>
  </message>
  <message name="obtenerEmpleadoxPesoDocumento">
    <part element="tns:obtenerEmpleadoxPesoDocumento" name="parameters"/>
  </message>
  <message name="obtenerEmpleadoxPesoDocumentoResponse">
    <part element="tns:obtenerEmpleadoxPesoDocumentoResponse" name="parameters"/>
  </message>
  <message name="obtenerEmpleado">
    <part element="tns:obtenerEmpleado" name="parameters"/>
  </message>
  <message name="obtenerEmpleadoResponse">
    <part element="tns:obtenerEmpleadoResponse" name="parameters"/>
  </message>
  <message name="verificarCriterioSupervision">
    <part element="tns:verificarCriterioSupervision" name="parameters"/>
  </message>
  <message name="verificarCriterioSupervisionResponse">
    <part element="tns:verificarCriterioSupervisionResponse" name="parameters"/>
  </message>
  <message name="activarFirmas">
    <part element="tns:activarFirmas" name="parameters"/>
  </message>
  <message name="activarFirmasResponse">
    <part element="tns:activarFirmasResponse" name="parameters"/>
  </message>
  <message name="obtenerEstadoBastanteo">
    <part element="tns:obtenerEstadoBastanteo" name="parameters"/>
  </message>
  <message name="obtenerEstadoBastanteoResponse">
    <part element="tns:obtenerEstadoBastanteoResponse" name="parameters"/>
  </message>
  <message name="obtenerHoraReintento">
    <part element="tns:obtenerHoraReintento" name="parameters"/>
  </message>
  <message name="obtenerHoraReintentoResponse">
    <part element="tns:obtenerHoraReintentoResponse" name="parameters"/>
  </message>
  <message name="cobroComisionInmediato">
    <part element="tns:cobroComisionInmediato" name="parameters"/>
  </message>
  <message name="cobroComisionInmediatoResponse">
    <part element="tns:cobroComisionInmediatoResponse" name="parameters"/>
  </message>
  <message name="crearPreRegistroSubsanacion">
    <part element="tns:crearPreRegistroSubsanacion" name="parameters"/>
  </message>
  <message name="crearPreRegistroSubsanacionResponse">
    <part element="tns:crearPreRegistroSubsanacionResponse" name="parameters"/>
  </message>
  <message name="crearPreRegistroRevocatoria">
    <part element="tns:crearPreRegistroRevocatoria" name="parameters"/>
  </message>
  <message name="crearPreRegistroRevocatoriaResponse">
    <part element="tns:crearPreRegistroRevocatoriaResponse" name="parameters"/>
  </message>
  <message name="EliminarEmpleadoExpedienteTareaProceso">
    <part element="tns:EliminarEmpleadoExpedienteTareaProceso" name="parameters"/>
  </message>
  <message name="EliminarEmpleadoExpedienteTareaProcesoResponse">
    <part element="tns:EliminarEmpleadoExpedienteTareaProcesoResponse" name="parameters"/>
  </message>
  <message name="eliminarDocumentosCM">
    <part element="tns:eliminarDocumentosCM" name="parameters"/>
  </message>
  <message name="eliminarDocumentosCMResponse">
    <part element="tns:eliminarDocumentosCMResponse" name="parameters"/>
  </message>
  <portType name="CEProcessServiceDelegate">
    <operation name="dentroPlazoSubsanacion">
      <input message="tns:dentroPlazoSubsanacion" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/dentroPlazoSubsanacionRequest"/>
      <output message="tns:dentroPlazoSubsanacionResponse" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/dentroPlazoSubsanacionResponse"/>
    </operation>
    <operation name="obtenerNumExpedientesxEmpleado">
      <input message="tns:obtenerNumExpedientesxEmpleado" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/obtenerNumExpedientesxEmpleadoRequest"/>
      <output message="tns:obtenerNumExpedientesxEmpleadoResponse" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/obtenerNumExpedientesxEmpleadoResponse"/>
    </operation>
    <operation name="obtenerEmpleadoxPesoParticipe">
      <input message="tns:obtenerEmpleadoxPesoParticipe" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/obtenerEmpleadoxPesoParticipeRequest"/>
      <output message="tns:obtenerEmpleadoxPesoParticipeResponse" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/obtenerEmpleadoxPesoParticipeResponse"/>
    </operation>
    <operation name="obtenerEmpleadoxPesoDocumento">
      <input message="tns:obtenerEmpleadoxPesoDocumento" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/obtenerEmpleadoxPesoDocumentoRequest"/>
      <output message="tns:obtenerEmpleadoxPesoDocumentoResponse" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/obtenerEmpleadoxPesoDocumentoResponse"/>
    </operation>
    <operation name="obtenerEmpleado">
      <input message="tns:obtenerEmpleado" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/obtenerEmpleadoRequest"/>
      <output message="tns:obtenerEmpleadoResponse" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/obtenerEmpleadoResponse"/>
    </operation>
    <operation name="verificarCriterioSupervision">
      <input message="tns:verificarCriterioSupervision" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/verificarCriterioSupervisionRequest"/>
      <output message="tns:verificarCriterioSupervisionResponse" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/verificarCriterioSupervisionResponse"/>
    </operation>
    <operation name="activarFirmas">
      <input message="tns:activarFirmas" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/activarFirmasRequest"/>
      <output message="tns:activarFirmasResponse" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/activarFirmasResponse"/>
    </operation>
    <operation name="obtenerEstadoBastanteo">
      <input message="tns:obtenerEstadoBastanteo" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/obtenerEstadoBastanteoRequest"/>
      <output message="tns:obtenerEstadoBastanteoResponse" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/obtenerEstadoBastanteoResponse"/>
    </operation>
    <operation name="obtenerHoraReintento">
      <input message="tns:obtenerHoraReintento" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/obtenerHoraReintentoRequest"/>
      <output message="tns:obtenerHoraReintentoResponse" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/obtenerHoraReintentoResponse"/>
    </operation>
    <operation name="cobroComisionInmediato">
      <input message="tns:cobroComisionInmediato" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/cobroComisionInmediatoRequest"/>
      <output message="tns:cobroComisionInmediatoResponse" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/cobroComisionInmediatoResponse"/>
    </operation>
    <operation name="crearPreRegistroSubsanacion">
      <input message="tns:crearPreRegistroSubsanacion" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/crearPreRegistroSubsanacionRequest"/>
      <output message="tns:crearPreRegistroSubsanacionResponse" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/crearPreRegistroSubsanacionResponse"/>
    </operation>
    <operation name="crearPreRegistroRevocatoria">
      <input message="tns:crearPreRegistroRevocatoria" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/crearPreRegistroRevocatoriaRequest"/>
      <output message="tns:crearPreRegistroRevocatoriaResponse" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/crearPreRegistroRevocatoriaResponse"/>
    </operation>
    <operation name="EliminarEmpleadoExpedienteTareaProceso">
      <input message="tns:EliminarEmpleadoExpedienteTareaProceso" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/EliminarEmpleadoExpedienteTareaProcesoRequest"/>
      <output message="tns:EliminarEmpleadoExpedienteTareaProcesoResponse" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/EliminarEmpleadoExpedienteTareaProcesoResponse"/>
    </operation>
    <operation name="eliminarDocumentosCM">
      <input message="tns:eliminarDocumentosCM" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/eliminarDocumentosCMRequest"/>
      <output message="tns:eliminarDocumentosCMResponse" wsam:Action="http://proceso.servicio.ctacte.bbva.ibm.com/CEProcessServiceDelegate/eliminarDocumentosCMResponse"/>
    </operation>
  </portType>
  <binding name="CEProcessServicePortBinding" type="tns:CEProcessServiceDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="dentroPlazoSubsanacion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerNumExpedientesxEmpleado">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerEmpleadoxPesoParticipe">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerEmpleadoxPesoDocumento">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerEmpleado">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="verificarCriterioSupervision">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="activarFirmas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerEstadoBastanteo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerHoraReintento">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cobroComisionInmediato">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="crearPreRegistroSubsanacion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="crearPreRegistroRevocatoria">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="EliminarEmpleadoExpedienteTareaProceso">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eliminarDocumentosCM">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CEProcessServiceService">
    <port binding="tns:CEProcessServicePortBinding" name="CEProcessServicePort">
      <soap:address location="http://localhost:9080/BBVA_CTACTE_Servicio/CEProcessServiceService"/>
    </port>
  </service>
</definitions>