Unificado_Fuentes_Desarrollo/ClientFactory/ejbModule/META-INF/wsdl/xsd/MessageFormat.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://pe.grupobbva.com/SIR/service/message" xmlns:Hdr="http://pe.grupobbva.com/SIR/ents/header" xmlns:Ope1="http://pe.grupobbva.com/SIR/ents/body/consultaPorNombres" xmlns:Ope2="http://pe.grupobbva.com/SIR/ents/body/consultaPorDNI" xmlns:tns="http://pe.grupobbva.com/SIR/service/message">
	
	<xs:import namespace="http://pe.grupobbva.com/SIR/ents/header" schemaLocation="HeaderFormat.xsd"/>

	<xs:import namespace="http://pe.grupobbva.com/SIR/ents/body/consultaPorNombres" schemaLocation="ConsultaPorNombresFormat.xsd"/>

	<xs:import namespace="http://pe.grupobbva.com/SIR/ents/body/consultaPorDNI" schemaLocation="ConsultaPorDNIFormat.xsd"/>
	    
    <xs:element name="consultaPorNombresRequest" type="tns:consultaPorNombresRequest"/>
    <xs:element name="consultaPorNombresResponse" type="tns:consultaPorNombresResponse"/>
    <xs:element name="consultaPorDNIRequest" type="tns:consultaPorDNIRequest"/>
    <xs:element name="consultaPorDNIResponse" type="tns:consultaPorDNIResponse"/>	    
	    
	<xs:complexType name="consultaPorNombresRequest">
		<xs:sequence>
			<xs:element name="refRequestHeader" type="Hdr:RequestHeader"/>		
			<xs:element name="refConsultaPorNombresRequest" type="Ope1:ConsultaPorNombresRequest"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaPorNombresResponse">
		<xs:sequence>
			<xs:element name="refResponseHeader" type="Hdr:ResponseHeader"/>		
			<xs:element name="refConsultaPorNombresResponse" type="Ope1:ConsultaPorNombresResponse"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaPorDNIRequest">
		<xs:sequence>
			<xs:element name="refRequestHeader" type="Hdr:RequestHeader"/>		
			<xs:element name="refConsultaPorDNIRequest" type="Ope2:ConsultaPorDNIRequest"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaPorDNIResponse">
		<xs:sequence>
			<xs:element name="refResponseHeader" type="Hdr:ResponseHeader"/>		
			<xs:element name="refConsultaPorDNIResponse" type="Ope2:ConsultaPorDNIResponse"/>
		</xs:sequence>
	</xs:complexType>
		
</xs:schema>