Unificado_Fuentes_Desarrollo/ClientFactory/ejbModule/META-INF/wsdl/xsd/SCE_PE20.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://grupobbva.com.pe/sce/pe20/" xmlns:tns="http://grupobbva.com.pe/sce/pe20/">
	
	<xsd:element name="VerificarExisteContratoNACARRq" type="tns:ctVerificarExisteContratoNACARRq"/>
	<xsd:element name="VerificarExisteContratoNACARRs" type="tns:ctVerificarExisteContratoNACARRs"/>
	
	
	<!-- ======================== -->
	<!-- ComplexTypes Definitions -->
	<!-- ======================== -->
	
	<xsd:complexType name="ctHeader">
	  <xsd:sequence>
	  	<xsd:element name="usuario" type="tns:stUsuario"/>
	  </xsd:sequence>
	</xsd:complexType>
	
	<!-- ***** Request ***** -->
	
	<xsd:complexType name="ctBodyRq">
	  <xsd:sequence>
	  	<xsd:element name="numeroContrato" type="tns:stNumContrato"/>
	  	<xsd:element name="codigoCentral" type="tns:stCodCentral"/>
	  </xsd:sequence>
	</xsd:complexType>
	
	<!-- ***** Response ***** -->
	
	<xsd:complexType name="ctHeaderRs">
	  <xsd:sequence>
	  	<xsd:element name="codigo" type="xsd:string"/>
	  	<xsd:element name="descripcion" type="xsd:string"/>
	  	<xsd:element minOccurs="0" name="aviso" type="xsd:string"/>
	  </xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ctBodyRs">
	  <xsd:sequence>
	  	<xsd:any/>
	  </xsd:sequence>
	</xsd:complexType>
	
	<!-- ***** Messages ***** -->
	
	<xsd:complexType name="ctVerificarExisteContratoNACARRq">
	  <xsd:sequence>
	  	<xsd:element name="Header" type="tns:ctHeader"/>
	  	<xsd:element name="Data" type="tns:ctBodyRq"/>
	  </xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ctVerificarExisteContratoNACARRs">
	  <xsd:sequence>
	  	<xsd:element name="Header" type="tns:ctHeaderRs"/>
	  	<xsd:element minOccurs="0" name="Data" type="tns:ctBodyRs"/>
	  </xsd:sequence>
	</xsd:complexType>
	
	<!-- ======================== -->
	<!-- SimpleTypes Definitions  -->
	<!-- ======================== -->

	<xsd:simpleType name="stUsuario">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stNumContrato">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stCodCentral">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>