ws_iist/wsiist/WebContent/WEB-INF/wsdl/ServiceWFTarjetas.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.iist" xmlns:impl="http://ws.iist" xmlns:intf="http://ws.iist" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://ws.iist" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <element name="devolverEstadoEntregaTCResponse">
    <complexType>
     <sequence>
      <element name="devolverEstadoEntregaTCReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="devolverEstadoEntregaTC">
    <complexType>
     <sequence>
      <element name="numeroContrato" nillable="true" type="xsd:string"/>
      <element name="numeroTarjeta" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="devolverEstadoEntregaTCResponse">
     <wsdl:part element="impl:devolverEstadoEntregaTCResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="devolverEstadoEntregaTCRequest">
     <wsdl:part element="impl:devolverEstadoEntregaTC" name="parameters"/>

  </wsdl:message>

   <wsdl:portType name="ServiceWFTarjetas">
     <wsdl:operation name="devolverEstadoEntregaTC">
       <wsdl:input message="impl:devolverEstadoEntregaTCRequest" name="devolverEstadoEntregaTCRequest"/>

       <wsdl:output message="impl:devolverEstadoEntregaTCResponse" name="devolverEstadoEntregaTCResponse"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="ServiceWFTarjetasSoapBinding" type="impl:ServiceWFTarjetas">
 <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>

     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="devolverEstadoEntregaTC">
       <wsdlsoap:operation soapAction="devolverEstadoEntregaTC"/>

       <wsdl:input name="devolverEstadoEntregaTCRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="devolverEstadoEntregaTCResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="ServiceWFTarjetasService">
     <wsdl:port binding="impl:ServiceWFTarjetasSoapBinding" name="ServiceWFTarjetas">
       <wsdlsoap:address location="http://localhost:9080/wsiist/services/ServiceWFTarjetas"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
