fast_track_empresas/BBVA_CTACTE_Servicio/WebContent/WEB-INF/wsdl/SFPExternalService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions name="SFPExternalService" targetNamespace="http://servicio.sfp.servicio.ctacte.bbva.ibm.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.sfp.servicio.ctacte.bbva.ibm.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://servicio.sfp.servicio.ctacte.bbva.ibm.com/" schemaLocation="SFPExternalService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://bean.cm.bbva.ibm.com" schemaLocation="SFPExternalService_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="IBMAsociarFirmaGET">
    <part element="tns:IBMAsociarFirmaGET" name="parameters"/>
  </message>
  <message name="IBMAsociarFirmaGETResponse">
    <part element="tns:IBMAsociarFirmaGETResponse" name="parameters"/>
  </message>
  <message name="CM_Obtener_documento_FRF">
    <part element="tns:CM_Obtener_documento_FRF" name="parameters"/>
  </message>
  <message name="CM_Obtener_documento_FRFResponse">
    <part element="tns:CM_Obtener_documento_FRFResponse" name="parameters"/>
  </message>
  <message name="IBMAsociarFirmaSET">
    <part element="tns:IBMAsociarFirmaSET" name="parameters"/>
  </message>
  <message name="IBMAsociarFirmaSETResponse">
    <part element="tns:IBMAsociarFirmaSETResponse" name="parameters"/>
  </message>
  <message name="IBMRealizarBastanteoGET">
    <part element="tns:IBMRealizarBastanteoGET" name="parameters"/>
  </message>
  <message name="IBMRealizarBastanteoGETResponse">
    <part element="tns:IBMRealizarBastanteoGETResponse" name="parameters"/>
  </message>
  <message name="IBMRealizarBastanteoSET">
    <part element="tns:IBMRealizarBastanteoSET" name="parameters"/>
  </message>
  <message name="IBMRealizarBastanteoSETResponse">
    <part element="tns:IBMRealizarBastanteoSETResponse" name="parameters"/>
  </message>
  <message name="IBMActivacionGET">
    <part element="tns:IBMActivacionGET" name="parameters"/>
  </message>
  <message name="IBMActivacionGETResponse">
    <part element="tns:IBMActivacionGETResponse" name="parameters"/>
  </message>
  <message name="IBMActivacionSET">
    <part element="tns:IBMActivacionSET" name="parameters"/>
  </message>
  <message name="IBMActivacionSETResponse">
    <part element="tns:IBMActivacionSETResponse" name="parameters"/>
  </message>
  <portType name="SFPExternalDelegate">
    <operation name="IBMAsociarFirmaGET">
      <input message="tns:IBMAsociarFirmaGET" wsam:Action="http://servicio.sfp.servicio.ctacte.bbva.ibm.com/SFPExternalDelegate/IBMAsociarFirmaGETRequest"/>
      <output message="tns:IBMAsociarFirmaGETResponse" wsam:Action="http://servicio.sfp.servicio.ctacte.bbva.ibm.com/SFPExternalDelegate/IBMAsociarFirmaGETResponse"/>
    </operation>
    <operation name="CM_Obtener_documento_FRF">
      <input message="tns:CM_Obtener_documento_FRF" wsam:Action="http://servicio.sfp.servicio.ctacte.bbva.ibm.com/SFPExternalDelegate/CM_Obtener_documento_FRFRequest"/>
      <output message="tns:CM_Obtener_documento_FRFResponse" wsam:Action="http://servicio.sfp.servicio.ctacte.bbva.ibm.com/SFPExternalDelegate/CM_Obtener_documento_FRFResponse"/>
    </operation>
    <operation name="IBMAsociarFirmaSET">
      <input message="tns:IBMAsociarFirmaSET" wsam:Action="http://servicio.sfp.servicio.ctacte.bbva.ibm.com/SFPExternalDelegate/IBMAsociarFirmaSETRequest"/>
      <output message="tns:IBMAsociarFirmaSETResponse" wsam:Action="http://servicio.sfp.servicio.ctacte.bbva.ibm.com/SFPExternalDelegate/IBMAsociarFirmaSETResponse"/>
    </operation>
    <operation name="IBMRealizarBastanteoGET">
      <input message="tns:IBMRealizarBastanteoGET" wsam:Action="http://servicio.sfp.servicio.ctacte.bbva.ibm.com/SFPExternalDelegate/IBMRealizarBastanteoGETRequest"/>
      <output message="tns:IBMRealizarBastanteoGETResponse" wsam:Action="http://servicio.sfp.servicio.ctacte.bbva.ibm.com/SFPExternalDelegate/IBMRealizarBastanteoGETResponse"/>
    </operation>
    <operation name="IBMRealizarBastanteoSET">
      <input message="tns:IBMRealizarBastanteoSET" wsam:Action="http://servicio.sfp.servicio.ctacte.bbva.ibm.com/SFPExternalDelegate/IBMRealizarBastanteoSETRequest"/>
      <output message="tns:IBMRealizarBastanteoSETResponse" wsam:Action="http://servicio.sfp.servicio.ctacte.bbva.ibm.com/SFPExternalDelegate/IBMRealizarBastanteoSETResponse"/>
    </operation>
    <operation name="IBMActivacionGET">
      <input message="tns:IBMActivacionGET" wsam:Action="http://servicio.sfp.servicio.ctacte.bbva.ibm.com/SFPExternalDelegate/IBMActivacionGETRequest"/>
      <output message="tns:IBMActivacionGETResponse" wsam:Action="http://servicio.sfp.servicio.ctacte.bbva.ibm.com/SFPExternalDelegate/IBMActivacionGETResponse"/>
    </operation>
    <operation name="IBMActivacionSET">
      <input message="tns:IBMActivacionSET" wsam:Action="http://servicio.sfp.servicio.ctacte.bbva.ibm.com/SFPExternalDelegate/IBMActivacionSETRequest"/>
      <output message="tns:IBMActivacionSETResponse" wsam:Action="http://servicio.sfp.servicio.ctacte.bbva.ibm.com/SFPExternalDelegate/IBMActivacionSETResponse"/>
    </operation>
  </portType>
  <binding name="SFPExternalPortBinding" type="tns:SFPExternalDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="IBMAsociarFirmaGET">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CM_Obtener_documento_FRF">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="IBMAsociarFirmaSET">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="IBMRealizarBastanteoGET">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="IBMRealizarBastanteoSET">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="IBMActivacionGET">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="IBMActivacionSET">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SFPExternalService">
    <port binding="tns:SFPExternalPortBinding" name="SFPExternalPort">
      <soap:address location="http://localhost:9080/BBVA_CTACTE_Servicio/SFPExternalService"/>
    </port>
  </service>
</definitions>