fast_track_empresas/BBVA_CTACTE_Servicio/WebContent/WEB-INF/wsdl/WEBCEServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="WEBCEServiceService" targetNamespace="http://web.servicio.ctacte.bbva.ibm.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web.servicio.ctacte.bbva.ibm.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://web.servicio.ctacte.bbva.ibm.com/" schemaLocation="WEBCEServiceService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://bean.cm.bbva.ibm.com" schemaLocation="WEBCEServiceService_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="CM_Obtener_documento">
    <part element="tns:CM_Obtener_documento" name="parameters"/>
  </message>
  <message name="CM_Obtener_documentoResponse">
    <part element="tns:CM_Obtener_documentoResponse" name="parameters"/>
  </message>
  <message name="CM_Obtener_documentoxCodigo">
    <part element="tns:CM_Obtener_documentoxCodigo" name="parameters"/>
  </message>
  <message name="CM_Obtener_documentoxCodigoResponse">
    <part element="tns:CM_Obtener_documentoxCodigoResponse" name="parameters"/>
  </message>
  <message name="CM_ObtenerDocumentItemType">
    <part element="tns:CM_ObtenerDocumentItemType" name="parameters"/>
  </message>
  <message name="CM_ObtenerDocumentItemTypeResponse">
    <part element="tns:CM_ObtenerDocumentItemTypeResponse" name="parameters"/>
  </message>
  <message name="CM_historialDocumentoxCliente">
    <part element="tns:CM_historialDocumentoxCliente" name="parameters"/>
  </message>
  <message name="CM_historialDocumentoxClienteResponse">
    <part element="tns:CM_historialDocumentoxClienteResponse" name="parameters"/>
  </message>
  <message name="CM_Obtener_documentoxNombreArchivo">
    <part element="tns:CM_Obtener_documentoxNombreArchivo" name="parameters"/>
  </message>
  <message name="CM_Obtener_documentoxNombreArchivoResponse">
    <part element="tns:CM_Obtener_documentoxNombreArchivoResponse" name="parameters"/>
  </message>
  <message name="CM_buscarVistaUnica">
    <part element="tns:CM_buscarVistaUnica" name="parameters"/>
  </message>
  <message name="CM_buscarVistaUnicaResponse">
    <part element="tns:CM_buscarVistaUnicaResponse" name="parameters"/>
  </message>
  <portType name="WEBCEServiceDelegate">
    <operation name="CM_Obtener_documento">
      <input message="tns:CM_Obtener_documento" wsam:Action="http://web.servicio.ctacte.bbva.ibm.com/WEBCEServiceDelegate/CM_Obtener_documentoRequest"/>
      <output message="tns:CM_Obtener_documentoResponse" wsam:Action="http://web.servicio.ctacte.bbva.ibm.com/WEBCEServiceDelegate/CM_Obtener_documentoResponse"/>
    </operation>
    <operation name="CM_Obtener_documentoxCodigo">
      <input message="tns:CM_Obtener_documentoxCodigo" wsam:Action="http://web.servicio.ctacte.bbva.ibm.com/WEBCEServiceDelegate/CM_Obtener_documentoxCodigoRequest"/>
      <output message="tns:CM_Obtener_documentoxCodigoResponse" wsam:Action="http://web.servicio.ctacte.bbva.ibm.com/WEBCEServiceDelegate/CM_Obtener_documentoxCodigoResponse"/>
    </operation>
    <operation name="CM_ObtenerDocumentItemType">
      <input message="tns:CM_ObtenerDocumentItemType" wsam:Action="http://web.servicio.ctacte.bbva.ibm.com/WEBCEServiceDelegate/CM_ObtenerDocumentItemTypeRequest"/>
      <output message="tns:CM_ObtenerDocumentItemTypeResponse" wsam:Action="http://web.servicio.ctacte.bbva.ibm.com/WEBCEServiceDelegate/CM_ObtenerDocumentItemTypeResponse"/>
    </operation>
    <operation name="CM_historialDocumentoxCliente">
      <input message="tns:CM_historialDocumentoxCliente" wsam:Action="http://web.servicio.ctacte.bbva.ibm.com/WEBCEServiceDelegate/CM_historialDocumentoxClienteRequest"/>
      <output message="tns:CM_historialDocumentoxClienteResponse" wsam:Action="http://web.servicio.ctacte.bbva.ibm.com/WEBCEServiceDelegate/CM_historialDocumentoxClienteResponse"/>
    </operation>
    <operation name="CM_Obtener_documentoxNombreArchivo">
      <input message="tns:CM_Obtener_documentoxNombreArchivo" wsam:Action="http://web.servicio.ctacte.bbva.ibm.com/WEBCEServiceDelegate/CM_Obtener_documentoxNombreArchivoRequest"/>
      <output message="tns:CM_Obtener_documentoxNombreArchivoResponse" wsam:Action="http://web.servicio.ctacte.bbva.ibm.com/WEBCEServiceDelegate/CM_Obtener_documentoxNombreArchivoResponse"/>
    </operation>
    <operation name="CM_buscarVistaUnica">
      <input message="tns:CM_buscarVistaUnica" wsam:Action="http://web.servicio.ctacte.bbva.ibm.com/WEBCEServiceDelegate/CM_buscarVistaUnicaRequest"/>
      <output message="tns:CM_buscarVistaUnicaResponse" wsam:Action="http://web.servicio.ctacte.bbva.ibm.com/WEBCEServiceDelegate/CM_buscarVistaUnicaResponse"/>
    </operation>
  </portType>
  <binding name="WEBCEServicePortBinding" type="tns:WEBCEServiceDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CM_Obtener_documento">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CM_Obtener_documentoxCodigo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CM_ObtenerDocumentItemType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CM_historialDocumentoxCliente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CM_Obtener_documentoxNombreArchivo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CM_buscarVistaUnica">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WEBCEServiceService">
    <port binding="tns:WEBCEServicePortBinding" name="WEBCEServicePort">
      <soap:address location="http://localhost:9080/BBVA_CTACTE_Servicio/WEBCEServiceService"/>
    </port>
  </service>
</definitions>