fast_track_empresas/BBVA_CTACTE_ClienteWS/src/META-INF/wsdl/ContentServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="ContentServiceImplService" targetNamespace="http://impl.service.cm.bbva.ibm.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.service.cm.bbva.ibm.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://impl.service.cm.bbva.ibm.com/" schemaLocation="ContentServiceImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="find">
    <part element="tns:find" name="parameters">
    </part>
  </message>
  <message name="insert">
    <part element="tns:insert" name="parameters">
    </part>
  </message>
  <message name="findResponse">
    <part element="tns:findResponse" name="parameters">
    </part>
  </message>
  <message name="insertResponse">
    <part element="tns:insertResponse" name="parameters">
    </part>
  </message>
  <message name="actualizarTipoDoc">
    <part element="tns:actualizarTipoDoc" name="parameters">
    </part>
  </message>
  <message name="actualizarTipoDocResponse">
    <part element="tns:actualizarTipoDocResponse" name="parameters">
    </part>
  </message>
  <message name="deleteAll">
    <part element="tns:deleteAll" name="parameters">
    </part>
  </message>
  <message name="deleteAllResponse">
    <part element="tns:deleteAllResponse" name="parameters">
    </part>
  </message>
  <message name="findAsImage">
    <part element="tns:findAsImage" name="parameters">
    </part>
  </message>
  <message name="findAsImageResponse">
    <part element="tns:findAsImageResponse" name="parameters">
    </part>
  </message>
  <message name="deleteResponse">
    <part element="tns:deleteResponse" name="parameters">
    </part>
  </message>
  <message name="insertAll">
    <part element="tns:insertAll" name="parameters">
    </part>
  </message>
  <message name="findAll">
    <part element="tns:findAll" name="parameters">
    </part>
  </message>
  <message name="update">
    <part element="tns:update" name="parameters">
    </part>
  </message>
  <message name="insertAllResponse">
    <part element="tns:insertAllResponse" name="parameters">
    </part>
  </message>
  <message name="findAllResponse">
    <part element="tns:findAllResponse" name="parameters">
    </part>
  </message>
  <message name="updateResponse">
    <part element="tns:updateResponse" name="parameters">
    </part>
  </message>
  <message name="delete">
    <part element="tns:delete" name="parameters">
    </part>
  </message>
  <message name="insert_PID">
    <part element="tns:insert_PID" name="parameters">
    </part>
  </message>
  <message name="insert_PIDResponse">
    <part element="tns:insert_PIDResponse" name="parameters">
    </part>
  </message>
  <portType name="ContentServiceImplDelegate">
    <operation name="delete">
      <input message="tns:delete" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/deleteRequest">
    </input>
      <output message="tns:deleteResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/deleteResponse">
    </output>
    </operation>
    <operation name="deleteAll">
      <input message="tns:deleteAll" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/deleteAllRequest">
    </input>
      <output message="tns:deleteAllResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/deleteAllResponse">
    </output>
    </operation>
    <operation name="find">
      <input message="tns:find" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/findRequest">
    </input>
      <output message="tns:findResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/findResponse">
    </output>
    </operation>
    <operation name="findAll">
      <input message="tns:findAll" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/findAllRequest">
    </input>
      <output message="tns:findAllResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/findAllResponse">
    </output>
    </operation>
    <operation name="findAsImage">
      <input message="tns:findAsImage" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/findAsImageRequest">
    </input>
      <output message="tns:findAsImageResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/findAsImageResponse">
    </output>
    </operation>
    <operation name="insert">
      <input message="tns:insert" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/insertRequest">
    </input>
      <output message="tns:insertResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/insertResponse">
    </output>
    </operation>
    <operation name="insert_PID">
      <input message="tns:insert_PID" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/insert_PIDRequest">
    </input>
      <output message="tns:insert_PIDResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/insert_PIDResponse">
    </output>
    </operation>
    <operation name="insertAll">
      <input message="tns:insertAll" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/insertAllRequest">
    </input>
      <output message="tns:insertAllResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/insertAllResponse">
    </output>
    </operation>
    <operation name="update">
      <input message="tns:update" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/updateRequest">
    </input>
      <output message="tns:updateResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/updateResponse">
    </output>
    </operation>
    <operation name="actualizarTipoDoc">
      <input message="tns:actualizarTipoDoc" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/actualizarTipoDocRequest">
    </input>
      <output message="tns:actualizarTipoDocResponse" wsam:Action="http://impl.service.cm.bbva.ibm.com/ContentServiceImplDelegate/actualizarTipoDocResponse">
    </output>
    </operation>
  </portType>
  <binding name="ContentServiceImplPortBinding" type="tns:ContentServiceImplDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="find">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findAsImage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insert">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insert_PID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="update">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="actualizarTipoDoc">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ContentServiceImplService">
    <port binding="tns:ContentServiceImplPortBinding" name="ContentServiceImplPort">
      <soap:address location="http://9.6.104.221:9080/BBVA_CE_CM_WAS/ContentServiceImplService"/>
    </port>
  </service>
</definitions>