Unificado_Fuentes_Desarrollo/BBVA_CE_GUI/WebContent/WEB-INF/wsdl/LDAP/wService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><definitions name="WSLDAPServiceImplService" targetNamespace="http://servidor.ldap.ws.bbva.com.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servidor.ldap.ws.bbva.com.pe/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<types>
<xsd:schema>
<xsd:import namespace="http://servidor.ldap.ws.bbva.com.pe/Usuario/codigoUsuario" schemaLocation="http://118.180.13.221:8080/ws-ldap3/wService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://servidor.ldap.ws.bbva.com.pe/Usuario" schemaLocation="http://118.180.13.221:8080/ws-ldap3/wService?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://servidor.ldap.ws.bbva.com.pe/Puesto/codigoPuesto" schemaLocation="http://118.180.13.221:8080/ws-ldap3/wService?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://servidor.ldap.ws.bbva.com.pe/Puesto" schemaLocation="http://118.180.13.221:8080/ws-ldap3/wService?xsd=4"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://servidor.ldap.ws.bbva.com.pe/Perfil/codigoPerfil" schemaLocation="http://118.180.13.221:8080/ws-ldap3/wService?xsd=5"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://servidor.ldap.ws.bbva.com.pe/Perfil" schemaLocation="http://118.180.13.221:8080/ws-ldap3/wService?xsd=6"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://servidor.ldap.ws.bbva.com.pe/Empresa/codigoEmpresa" schemaLocation="http://118.180.13.221:8080/ws-ldap3/wService?xsd=7"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://servidor.ldap.ws.bbva.com.pe/Aplicacion/codigoAplicacion" schemaLocation="http://118.180.13.221:8080/ws-ldap3/wService?xsd=8"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://servidor.ldap.ws.bbva.com.pe/" schemaLocation="http://118.180.13.221:8080/ws-ldap3/wService?xsd=9"/>
</xsd:schema>
</types>
<message name="obtenerUsuarios">
<part element="tns:obtenerUsuarios" name="parameters"/>
</message>
<message name="obtenerUsuariosResponse">
<part element="tns:obtenerUsuariosResponse" name="parameters"/>
</message>
<message name="WSLdapException">
<part element="tns:WSLdapException" name="fault"/>
</message>
<message name="obtenerUsuariosPorPerfil">
<part element="tns:obtenerUsuariosPorPerfil" name="parameters"/>
</message>
<message name="obtenerUsuariosPorPerfilResponse">
<part element="tns:obtenerUsuariosPorPerfilResponse" name="parameters"/>
</message>
<message name="obtenerPerfiles">
<part element="tns:obtenerPerfiles" name="parameters"/>
</message>
<message name="obtenerPerfilesResponse">
<part element="tns:obtenerPerfilesResponse" name="parameters"/>
</message>
<message name="obtenerPuestos">
<part element="tns:obtenerPuestos" name="parameters"/>
</message>
<message name="obtenerPuestosResponse">
<part element="tns:obtenerPuestosResponse" name="parameters"/>
</message>
<message name="obtenerPerfilesPorUsuarioyAplicacion">
<part element="tns:obtenerPerfilesPorUsuarioyAplicacion" name="parameters"/>
</message>
<message name="obtenerPerfilesPorUsuarioyAplicacionResponse">
<part element="tns:obtenerPerfilesPorUsuarioyAplicacionResponse" name="parameters"/>
</message>
<message name="obtenerUsuariosPorEmpresa">
<part element="tns:obtenerUsuariosPorEmpresa" name="parameters"/>
</message>
<message name="obtenerUsuariosPorEmpresaResponse">
<part element="tns:obtenerUsuariosPorEmpresaResponse" name="parameters"/>
</message>
<portType name="WSLDAPServiceImpl">
<operation name="obtenerUsuarios">
<input message="tns:obtenerUsuarios" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerUsuariosRequest"/>
<output message="tns:obtenerUsuariosResponse" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerUsuariosResponse"/>
<fault message="tns:WSLdapException" name="WSLdapException" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerUsuarios/Fault/WSLdapException"/>
</operation>
<operation name="obtenerUsuariosPorPerfil">
<input message="tns:obtenerUsuariosPorPerfil" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerUsuariosPorPerfilRequest"/>
<output message="tns:obtenerUsuariosPorPerfilResponse" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerUsuariosPorPerfilResponse"/>
<fault message="tns:WSLdapException" name="WSLdapException" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerUsuariosPorPerfil/Fault/WSLdapException"/>
</operation>
<operation name="obtenerPerfiles">
<input message="tns:obtenerPerfiles" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerPerfilesRequest"/>
<output message="tns:obtenerPerfilesResponse" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerPerfilesResponse"/>
<fault message="tns:WSLdapException" name="WSLdapException" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerPerfiles/Fault/WSLdapException"/>
</operation>
<operation name="obtenerPuestos">
<input message="tns:obtenerPuestos" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerPuestosRequest"/>
<output message="tns:obtenerPuestosResponse" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerPuestosResponse"/>
<fault message="tns:WSLdapException" name="WSLdapException" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerPuestos/Fault/WSLdapException"/>
</operation>
<operation name="obtenerPerfilesPorUsuarioyAplicacion">
<input message="tns:obtenerPerfilesPorUsuarioyAplicacion" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerPerfilesPorUsuarioyAplicacionRequest"/>
<output message="tns:obtenerPerfilesPorUsuarioyAplicacionResponse" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerPerfilesPorUsuarioyAplicacionResponse"/>
<fault message="tns:WSLdapException" name="WSLdapException" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerPerfilesPorUsuarioyAplicacion/Fault/WSLdapException"/>
</operation>
<operation name="obtenerUsuariosPorEmpresa">
<input message="tns:obtenerUsuariosPorEmpresa" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerUsuariosPorEmpresaRequest"/>
<output message="tns:obtenerUsuariosPorEmpresaResponse" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerUsuariosPorEmpresaResponse"/>
<fault message="tns:WSLdapException" name="WSLdapException" wsam:Action="http://servidor.ldap.ws.bbva.com.pe/WSLDAPServiceImpl/obtenerUsuariosPorEmpresa/Fault/WSLdapException"/>
</operation>
</portType>
<binding name="WSLDAPServiceImplPortBinding" type="tns:WSLDAPServiceImpl">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="obtenerUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSLdapException">
<soap:fault name="WSLdapException" use="literal"/>
</fault>
</operation>
<operation name="obtenerUsuariosPorPerfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSLdapException">
<soap:fault name="WSLdapException" use="literal"/>
</fault>
</operation>
<operation name="obtenerPerfiles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSLdapException">
<soap:fault name="WSLdapException" use="literal"/>
</fault>
</operation>
<operation name="obtenerPuestos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSLdapException">
<soap:fault name="WSLdapException" use="literal"/>
</fault>
</operation>
<operation name="obtenerPerfilesPorUsuarioyAplicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSLdapException">
<soap:fault name="WSLdapException" use="literal"/>
</fault>
</operation>
<operation name="obtenerUsuariosPorEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSLdapException">
<soap:fault name="WSLdapException" use="literal"/>
</fault>
</operation>
</binding>
<service name="WSLDAPServiceImplService">
<port binding="tns:WSLDAPServiceImplPortBinding" name="WSLDAPServiceImplPort">
<soap:address location="http://118.180.13.221:8080/ws-ldap3/wService"/>
</port>
</service>
</definitions>