Bastanteo/fuentes/BBVA_CE_CTACTE_Applet/src/META-INF/wsdl/WEBCEService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://web.servicio.ctacte.bbva.ibm.com" xmlns:impl="http://web.servicio.ctacte.bbva.ibm.com" xmlns:intf="http://web.servicio.ctacte.bbva.ibm.com" xmlns:tns2="http://bean.cm.bbva.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://web.servicio.ctacte.bbva.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://bean.cm.bbva.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.cm.bbva.ibm.com"/>
   <element name="CM_Obtener_documentoxNombreArchivoResponse">
    <complexType>
     <sequence>
      <element name="CM_Obtener_documentoxNombreArchivoReturn" nillable="true" type="tns2:Documento"/>
     </sequence>
    </complexType>
   </element>
   <element name="CM_historialDocumentoxCliente">
    <complexType>
     <sequence>
      <element name="codigoDocumento" nillable="true" type="xsd:string"/>
      <element name="codCliente" nillable="true" type="xsd:string"/>
      <element name="cantDocumento" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="CM_historialDocumentoxClienteResponse">
    <complexType>
     <sequence>
      <element name="CM_historialDocumentoxClienteReturn" nillable="true" type="impl:ArrayOf_412342274_nillable_Documento"/>
     </sequence>
    </complexType>
   </element>
   <element name="CM_ObtenerDocumentItemType">
    <complexType>
     <sequence>
      <element name="codigoDocumento" nillable="true" type="xsd:string"/>
      <element name="idExpediente" nillable="true" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="CM_ObtenerDocumentItemTypeResponse">
    <complexType>
     <sequence>
      <element name="CM_ObtenerDocumentItemTypeReturn" nillable="true" type="tns2:Documento"/>
     </sequence>
    </complexType>
   </element>
   <element name="CM_Obtener_documento">
    <complexType>
     <sequence>
      <element name="idDocumento" nillable="true" type="xsd:int"/>
      <element name="idExpediente" nillable="true" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="CM_Obtener_documentoResponse">
    <complexType>
     <sequence>
      <element name="CM_Obtener_documentoReturn" nillable="true" type="tns2:Documento"/>
     </sequence>
    </complexType>
   </element>
   <element name="CM_Obtener_documentoxCodigo">
    <complexType>
     <sequence>
      <element name="codigoDocumento" nillable="true" type="xsd:string"/>
      <element name="idExpediente" nillable="true" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="CM_Obtener_documentoxCodigoResponse">
    <complexType>
     <sequence>
      <element name="CM_Obtener_documentoxCodigoReturn" nillable="true" type="tns2:Documento"/>
     </sequence>
    </complexType>
   </element>
   <element name="CM_Obtener_documentoxNombreArchivo">
    <complexType>
     <sequence>
      <element name="tipoDocumento" nillable="true" type="xsd:string"/>
      <element name="nombreArchivo" nillable="true" type="xsd:string"/>
      <element name="idCM" nillable="true" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_412342274_nillable_Documento">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="Documento" nillable="true" type="tns2:Documento"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://bean.cm.bbva.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <complexType name="Documento">
    <sequence>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="tipo" nillable="true" type="xsd:string"/>
     <element name="mandatorio" nillable="true" type="xsd:boolean"/>
     <element name="contenido" type="xsd:base64Binary"/>
     <element name="fechaExpiracion" nillable="true" type="xsd:dateTime"/>
     <element name="tipoDoi" nillable="true" type="xsd:string"/>
     <element name="numDoi" nillable="true" type="xsd:string"/>
     <element name="codCliente" nillable="true" type="xsd:string"/>
     <element name="nombreArchivo" nillable="true" type="xsd:string"/>
     <element name="origen" nillable="true" type="xsd:string"/>
     <element name="fechaCreacion" nillable="true" type="xsd:dateTime"/>
     <element name="urlContent" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="CM_historialDocumentoxClienteRequest">
     <wsdl:part element="impl:CM_historialDocumentoxCliente" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="CM_Obtener_documentoxNombreArchivoResponse">
     <wsdl:part element="impl:CM_Obtener_documentoxNombreArchivoResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="CM_Obtener_documentoxCodigoRequest">
     <wsdl:part element="impl:CM_Obtener_documentoxCodigo" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="CM_ObtenerDocumentItemTypeRequest">
     <wsdl:part element="impl:CM_ObtenerDocumentItemType" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="CM_Obtener_documentoxCodigoResponse">
     <wsdl:part element="impl:CM_Obtener_documentoxCodigoResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="CM_ObtenerDocumentItemTypeResponse">
     <wsdl:part element="impl:CM_ObtenerDocumentItemTypeResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="CM_Obtener_documentoResponse">
     <wsdl:part element="impl:CM_Obtener_documentoResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="CM_Obtener_documentoRequest">
     <wsdl:part element="impl:CM_Obtener_documento" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="CM_historialDocumentoxClienteResponse">
     <wsdl:part element="impl:CM_historialDocumentoxClienteResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="CM_Obtener_documentoxNombreArchivoRequest">
     <wsdl:part element="impl:CM_Obtener_documentoxNombreArchivo" name="parameters"/>

  </wsdl:message>

   <wsdl:portType name="WEBCEService">
     <wsdl:operation name="CM_Obtener_documentoxNombreArchivo">
       <wsdl:input message="impl:CM_Obtener_documentoxNombreArchivoRequest" name="CM_Obtener_documentoxNombreArchivoRequest"/>

       <wsdl:output message="impl:CM_Obtener_documentoxNombreArchivoResponse" name="CM_Obtener_documentoxNombreArchivoResponse"/>

    </wsdl:operation>

     <wsdl:operation name="CM_historialDocumentoxCliente">
       <wsdl:input message="impl:CM_historialDocumentoxClienteRequest" name="CM_historialDocumentoxClienteRequest"/>

       <wsdl:output message="impl:CM_historialDocumentoxClienteResponse" name="CM_historialDocumentoxClienteResponse"/>

    </wsdl:operation>

     <wsdl:operation name="CM_ObtenerDocumentItemType">
       <wsdl:input message="impl:CM_ObtenerDocumentItemTypeRequest" name="CM_ObtenerDocumentItemTypeRequest"/>

       <wsdl:output message="impl:CM_ObtenerDocumentItemTypeResponse" name="CM_ObtenerDocumentItemTypeResponse"/>

    </wsdl:operation>

     <wsdl:operation name="CM_Obtener_documento">
       <wsdl:input message="impl:CM_Obtener_documentoRequest" name="CM_Obtener_documentoRequest"/>

       <wsdl:output message="impl:CM_Obtener_documentoResponse" name="CM_Obtener_documentoResponse"/>

    </wsdl:operation>

     <wsdl:operation name="CM_Obtener_documentoxCodigo">
       <wsdl:input message="impl:CM_Obtener_documentoxCodigoRequest" name="CM_Obtener_documentoxCodigoRequest"/>

       <wsdl:output message="impl:CM_Obtener_documentoxCodigoResponse" name="CM_Obtener_documentoxCodigoResponse"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="WEBCEServiceSoapBinding" type="impl:WEBCEService">
 <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>

     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="CM_Obtener_documentoxNombreArchivo">
       <wsdlsoap:operation soapAction="CM_Obtener_documentoxNombreArchivo"/>

       <wsdl:input name="CM_Obtener_documentoxNombreArchivoRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="CM_Obtener_documentoxNombreArchivoResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

     <wsdl:operation name="CM_historialDocumentoxCliente">
       <wsdlsoap:operation soapAction="CM_historialDocumentoxCliente"/>

       <wsdl:input name="CM_historialDocumentoxClienteRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="CM_historialDocumentoxClienteResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

     <wsdl:operation name="CM_ObtenerDocumentItemType">
       <wsdlsoap:operation soapAction="CM_ObtenerDocumentItemType"/>

       <wsdl:input name="CM_ObtenerDocumentItemTypeRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="CM_ObtenerDocumentItemTypeResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

     <wsdl:operation name="CM_Obtener_documento">
       <wsdlsoap:operation soapAction="CM_Obtener_documento"/>

       <wsdl:input name="CM_Obtener_documentoRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="CM_Obtener_documentoResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

     <wsdl:operation name="CM_Obtener_documentoxCodigo">
       <wsdlsoap:operation soapAction="CM_Obtener_documentoxCodigo"/>

       <wsdl:input name="CM_Obtener_documentoxCodigoRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="CM_Obtener_documentoxCodigoResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="WEBCEServiceService">
     <wsdl:port binding="impl:WEBCEServiceSoapBinding" name="WEBCEService">
       <wsdlsoap:address location="http://118.180.36.117:9080/BBVA_CE_CTACTE_Servicio/services/WEBCEService"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>