Unificado_Fuentes_Desarrollo/ClientFactory/ejbModule/META-INF/wsdl/pe/com/bbva/hi/cttactpass/cabecera/RequestHeader.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://cttactpass.hi.bbva.com.pe/cabecera/" xmlns:tns="http://cttactpass.hi.bbva.com.pe/cabecera/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="RequestHeader">
    	<xsd:sequence>
    		<xsd:element maxOccurs="1" minOccurs="0" name="codigoEmpresa" type="xsd:string">
    		</xsd:element>
    		<xsd:element maxOccurs="1" minOccurs="0" name="codigoTerminalEmpresa" type="xsd:string">
    		</xsd:element>
    		<xsd:element maxOccurs="1" minOccurs="0" name="canal" type="xsd:string">
    		</xsd:element>
    		<xsd:element maxOccurs="1" minOccurs="0" name="codigoAplicacion" type="xsd:string">
    		</xsd:element>
    		<xsd:element maxOccurs="1" minOccurs="0" name="usuario" type="xsd:string">
    		</xsd:element>
    		<xsd:element maxOccurs="1" minOccurs="0" name="fechaHoraEnvio" type="xsd:string">
    		</xsd:element>
    		<xsd:element maxOccurs="1" minOccurs="0" name="idSesion" type="xsd:string">
    		</xsd:element>
    		<xsd:element maxOccurs="1" minOccurs="0" name="idPeticionEmpresa" type="xsd:string">
    		</xsd:element>
    		<xsd:element maxOccurs="1" minOccurs="0" name="idPeticionBanco" type="xsd:string">
    		</xsd:element>
    		<xsd:element maxOccurs="1" minOccurs="0" name="idOperacion" type="xsd:string">
    		</xsd:element>
    		<xsd:element maxOccurs="1" minOccurs="0" name="idServicio" type="xsd:string"/>
    		<xsd:element maxOccurs="1" minOccurs="0" name="idInterconexion" type="xsd:string"/>
    	</xsd:sequence>
    </xsd:complexType>
</xsd:schema>
